<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/Pyspark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd
import numpy as np

In [4]:
emp = pd.read_csv("/content/Employee.csv")

In [5]:
emp.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [6]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=4cf3a1ce7d6743dcd507748a0a86415a6239c9ab58404b294be05c4a09ad25dc
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [10]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName("day1").getOrCreate()

In [18]:
df = spark.read.csv("/content/Employee.csv", header=True, inferSchema=True)

In [19]:
df.show(5)

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 5 rows

In [20]:
df.printSchema()

root
 |-- Education: string (nullable = true)
 |-- JoiningYear: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentTier: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EverBenched: string (nullable = true)
 |-- ExperienceInCurrentDomain: integer (nullable = true)
 |-- LeaveOrNot: integer (nullable = true)

#SELECTING COLUMNS

In [21]:
# selecting all the columns
df.columns

['Education',
 'JoiningYear',
 'City',
 'PaymentTier',
 'Age',
 'Gender',
 'EverBenched',
 'ExperienceInCurrentDomain',
 'LeaveOrNot']

In [22]:
# selecting single columns
df.select('Education').show()

+---------+
|Education|
+---------+
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
+---------+
only showing top 20 rows

In [23]:
# method-2
df.select(df['Education']).show()

+---------+
|Education|
+---------+
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
+---------+
only showing top 20 rows

In [24]:
# method-3
df.select(df.Education).show()

+---------+
|Education|
+---------+
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
+---------+
only showing top 20 rows

In [25]:
# selecting multiple columns
df.select('Education', 'City', 'Age', 'Gender').show()

+---------+---------+---+------+
|Education|     City|Age|Gender|
+---------+---------+---+------+
|Bachelors|Bangalore| 34|  Male|
|Bachelors|     Pune| 28|Female|
|Bachelors|New Delhi| 38|Female|
|  Masters|Bangalore| 27|  Male|
|  Masters|     Pune| 24|  Male|
|Bachelors|Bangalore| 22|  Male|
|Bachelors|New Delhi| 38|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 23|  Male|
|  Masters|New Delhi| 37|  Male|
|  Masters|Bangalore| 27|  Male|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 32|  Male|
|Bachelors|Bangalore| 39|  Male|
|Bachelors|Bangalore| 37|  Male|
|Bachelors|Bangalore| 29|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 30|Female|
|Bachelors|New Delhi| 22|Female|
+---------+---------+---+------+
only showing top 20 rows

In [26]:
df.select(['Education', 'City', 'Age', 'Gender']).show()

+---------+---------+---+------+
|Education|     City|Age|Gender|
+---------+---------+---+------+
|Bachelors|Bangalore| 34|  Male|
|Bachelors|     Pune| 28|Female|
|Bachelors|New Delhi| 38|Female|
|  Masters|Bangalore| 27|  Male|
|  Masters|     Pune| 24|  Male|
|Bachelors|Bangalore| 22|  Male|
|Bachelors|New Delhi| 38|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 23|  Male|
|  Masters|New Delhi| 37|  Male|
|  Masters|Bangalore| 27|  Male|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 32|  Male|
|Bachelors|Bangalore| 39|  Male|
|Bachelors|Bangalore| 37|  Male|
|Bachelors|Bangalore| 29|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 30|Female|
|Bachelors|New Delhi| 22|Female|
+---------+---------+---+------+
only showing top 20 rows

#ADDING COLUMNS

## withColumn

In [31]:
from os import truncate
# adding a new column from existing columns
df.withColumn('New_Age', (df['Age'] + 5)).show(truncate=False)

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+
|Education|JoiningYear|City     |PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|New_Age|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+
|Bachelors|2017       |Bangalore|3          |34 |Male  |No         |0                        |0         |39     |
|Bachelors|2013       |Pune     |1          |28 |Female|No         |3                        |1         |33     |
|Bachelors|2014       |New Delhi|3          |38 |Female|No         |2                        |0         |43     |
|Masters  |2016       |Bangalore|3          |27 |Male  |No         |5                        |1         |32     |
|Masters  |2017       |Pune     |3          |24 |Male  |Yes        |2                        |1         |29     |
|Bachelors|2016       |Bangalore|3          |22 |Male  |No         |0                        |0         |27     |
|Bachelors|2015       |New Delhi|3          |38 |Male  |No         |0                        |0         |43     |
|Bachelors|2016       |Bangalore|3          |34 |Female|No         |2                        |1         |39     |
|Bachelors|2016       |Pune     |3          |23 |Male  |No         |1                        |0         |28     |
|Masters  |2017       |New Delhi|2          |37 |Male  |No         |2                        |0         |42     |
|Masters  |2012       |Bangalore|3          |27 |Male  |No         |5                        |1         |32     |
|Bachelors|2016       |Pune     |3          |34 |Male  |No         |3                        |0         |39     |
|Bachelors|2018       |Pune     |3          |32 |Male  |Yes        |5                        |1         |37     |
|Bachelors|2016       |Bangalore|3          |39 |Male  |No         |2                        |0         |44     |
|Bachelors|2012       |Bangalore|3          |37 |Male  |No         |4                        |0         |42     |
|Bachelors|2017       |Bangalore|1          |29 |Male  |No         |3                        |0         |34     |
|Bachelors|2014       |Bangalore|3          |34 |Female|No         |2                        |0         |39     |
|Bachelors|2014       |Pune     |3          |34 |Male  |No         |4                        |0         |39     |
|Bachelors|2015       |Pune     |2          |30 |Female|No         |0                        |1         |35     |
|Bachelors|2016       |New Delhi|2          |22 |Female|No         |0                        |1         |27     |
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+
only showing top 20 rows

In [33]:
df.withColumn('new_age', df['Age']+2).withColumn('newJoiningYear', df['JoiningYear']+2).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+--------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|new_age|newJoiningYear|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+--------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|     36|          2019|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|     30|          2015|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|     40|          2016|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|     29|          2018|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|     26|          2019|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|     24|          2018|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|     40|          2017|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|     36|          2018|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|     25|          2018|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|     39|          2019|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|     29|          2014|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|     36|          2018|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|     34|          2020|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|     41|          2018|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|     39|          2014|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|     31|          2019|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|     36|          2016|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|     36|          2016|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|     32|          2017|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|     24|          2018|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+--------------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import lit

In [36]:
# adding a column with constant values
df.withColumn('Bonus', lit('None')).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|Bonus|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0| None|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1| None|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0| None|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1| None|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1| None|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0| None|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0| None|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1| None|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0| None|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0| None|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1| None|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0| None|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1| None|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0| None|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0| None|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0| None|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0| None|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0| None|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1| None|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1| None|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+
only showing top 20 rows

#Renaming a existing column

##withCoulmnRenamed