<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/Pyspark_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=e8f931251b690ed6429cf8a524fcd4987c0ea5015ddabbb32121f19140d06cb0
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:

# creating a spark application with name day_1_training
spark = SparkSession.builder.appName('Day_1_training').getOrCreate()

In [ ]:
spark

In [ ]:
# reading data source
# Method -1 to read csv file
# while reading spark reads as string so in order to have orginal data type of columns we need to make inferschema =True
df1 = spark.read.csv('/content/Tutorial_1.csv', header = True, inferSchema=True)

In [ ]:
df1.show()

+-------+---+
|   Name|Age|
+-------+---+
|   Amit| 31|
| Ashish| 29|
| Suresh| 33|
| Jayesh| 26|
|Karthik| 28|
+-------+---+

In [ ]:
# lets see the type  of dataframe
type(df1)

pyspark.sql.dataframe.DataFrame

In [ ]:
print(type(5))
print(type('Biru'))

<class 'int'>
<class 'str'>

In [ ]:
# fetching the columns name
df1.columns

['Name', 'Age']

In [ ]:
# Method-2 for reading csv file
df1 = spark.read.option('header', 'true').csv('/content/Tutorial_1.csv')

In [ ]:
df1.show()

+-------+---+
|   Name|Age|
+-------+---+
|   Amit| 31|
| Ashish| 29|
| Suresh| 33|
| Jayesh| 26|
|Karthik| 28|
+-------+---+

In [ ]:
# reading top few records
df1.head(4)

[Row(Name='Amit', Age='31'),
 Row(Name='Ashish', Age='29'),
 Row(Name='Suresh', Age='33'),
 Row(Name='Jayesh', Age='26')]

In [ ]:
# data type of individual columns
# Identify the data type of columns in dataframe
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [ ]:
df1.dtypes # alternate way to check data type of columns

[('Name', 'string'), ('Age', 'string')]

# Pyspark DataFrames

In [ ]:
# Select specific columns in Dataframe
# single column
df1.select('Name').show()
# multiple column
df1.select(['Name', 'Age']).show()

+-------+
|   Name|
+-------+
|   Amit|
| Ashish|
| Suresh|
| Jayesh|
|Karthik|
+-------+

+-------+---+
|   Name|Age|
+-------+---+
|   Amit| 31|
| Ashish| 29|
| Suresh| 33|
| Jayesh| 26|
|Karthik| 28|
+-------+---+

In [ ]:
#

In [ ]:
df2 = spark.read.csv("/content/Tutorial_2.csv", header = True, inferSchema = True)

In [ ]:
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
df2.select('Age','Experience').show()
# here spark reads columns in a string

+---+----------+
|Age|Experience|
+---+----------+
| 22|       1.5|
| 25|       2.0|
| 18|       1.0|
| 29|       3.0|
| 35|       5.0|
| 33|       7.0|
+---+----------+

In [ ]:
# what is colums
df2['Name'] # returns columns object

Column<'Name'>

In [ ]:
# getting columns from different methods
df2.select(df2['Name']).show()

+---------+
|     Name|
+---------+
|     Amit|
|    Ankit|
|   Ashish|
|    Vijay|
|Sudarshan|
|    Ketan|
+---------+

In [ ]:
df2.select(['Name', 'Age']).show() # here spark reads columns in a list which is more optimised way to read the columns
# when we have 100 of columns using list of columns is beneficial to read the columns

+---------+---+
|     Name|Age|
+---------+---+
|     Amit| 22|
|    Ankit| 25|
|   Ashish| 18|
|    Vijay| 29|
|Sudarshan| 35|
|    Ketan| 33|
+---------+---+

In [ ]:
# pyspark is more advantageous than pandas
# pandas is meant for low volumes of data --> process data in sequential order
# and pyspark is meant for large volumes of data

In [ ]:
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
# statistical information of a data
df2.describe().show()

+-------+-----+----------------+-----------------+
|summary| Name|             Age|       Experience|
+-------+-----+----------------+-----------------+
|  count|    6|               6|                6|
|   mean| null|            27.0|             3.25|
| stddev| null|6.54217089351845|2.318404623873926|
|    min| Amit|              18|              1.0|
|    max|Vijay|              35|              7.0|
+-------+-----+----------------+-----------------+

In [ ]:
# Adding a columns
# it takes two arguments 1--> new column to be added  and  2--> from which columns it to be derived--> from existing columns
df2.withColumn('New_age', df2['Age']*2).show()

+---------+---+----------+-------+
|     Name|Age|Experience|New_age|
+---------+---+----------+-------+
|     Amit| 22|       1.5|     44|
|    Ankit| 25|       2.0|     50|
|   Ashish| 18|       1.0|     36|
|    Vijay| 29|       3.0|     58|
|Sudarshan| 35|       5.0|     70|
|    Ketan| 33|       7.0|     66|
+---------+---+----------+-------+

In [ ]:
help(df2.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+

In [ ]:
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
# in place operations --> we can perform operations on our data but but original data is not changed until and unless we modify it

In [ ]:
df2.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:

df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
# adding new columns more than one
# this process is called chaining method
df2.withColumn('New_Age', df2['Age']+2).withColumn('New_Experience', df2['Experience']+5).show()

+---------+---+----------+-------+--------------+
|     Name|Age|Experience|New_Age|New_Experience|
+---------+---+----------+-------+--------------+
|     Amit| 22|       1.5|     24|           6.5|
|    Ankit| 25|       2.0|     27|           7.0|
|   Ashish| 18|       1.0|     20|           6.0|
|    Vijay| 29|       3.0|     31|           8.0|
|Sudarshan| 35|       5.0|     37|          10.0|
|    Ketan| 33|       7.0|     35|          12.0|
+---------+---+----------+-------+--------------+

In [ ]:
# Add a constant (default) value in a column
from pyspark.sql.functions import lit

df2.withColumn('Bonus', lit('None')).show()

+---------+---+----------+-----+
|     Name|Age|Experience|Bonus|
+---------+---+----------+-----+
|     Amit| 22|       1.5| None|
|    Ankit| 25|       2.0| None|
|   Ashish| 18|       1.0| None|
|    Vijay| 29|       3.0| None|
|Sudarshan| 35|       5.0| None|
|    Ketan| 33|       7.0| None|
+---------+---+----------+-----+

In [ ]:
from pyspark.sql import functions as f

In [ ]:

df2.withColumn('Name_upper', f.upper(df2['Name'])).show()

+---------+---+----------+----------+
|     Name|Age|Experience|Name_upper|
+---------+---+----------+----------+
|     Amit| 22|       1.5|      AMIT|
|    Ankit| 25|       2.0|     ANKIT|
|   Ashish| 18|       1.0|    ASHISH|
|    Vijay| 29|       3.0|     VIJAY|
|Sudarshan| 35|       5.0| SUDARSHAN|
|    Ketan| 33|       7.0|     KETAN|
+---------+---+----------+----------+

In [ ]:
# withColumn--> adds columns or modifies existing columns
df2.withColumn('Name_upper', f.upper('Name')).show()

+---------+---+----------+----------+
|     Name|Age|Experience|Name_upper|
+---------+---+----------+----------+
|     Amit| 22|       1.5|      AMIT|
|    Ankit| 25|       2.0|     ANKIT|
|   Ashish| 18|       1.0|    ASHISH|
|    Vijay| 29|       3.0|     VIJAY|
|Sudarshan| 35|       5.0| SUDARSHAN|
|    Ketan| 33|       7.0|     KETAN|
+---------+---+----------+----------+

In [ ]:
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
# we can add multiple columns using withColumn
# lit is used when we have to add a constant value to the dataframe
df2.withColumn("Bonus", lit('None')).withColumn("Dept", lit('IT')).show()

+---------+---+----------+-----+----+
|     Name|Age|Experience|Bonus|Dept|
+---------+---+----------+-----+----+
|     Amit| 22|       1.5| None|  IT|
|    Ankit| 25|       2.0| None|  IT|
|   Ashish| 18|       1.0| None|  IT|
|    Vijay| 29|       3.0| None|  IT|
|Sudarshan| 35|       5.0| None|  IT|
|    Ketan| 33|       7.0| None|  IT|
+---------+---+----------+-----+----+

In [ ]:
#help(lit)

In [ ]:
# using select we can add a column--> an alternate method to withColumn
df2.select('Name', 'Age', 'Experience', lit('None').alias('Bonus')).show()

+---------+---+----------+-----+
|     Name|Age|Experience|Bonus|
+---------+---+----------+-----+
|     Amit| 22|       1.5| None|
|    Ankit| 25|       2.0| None|
|   Ashish| 18|       1.0| None|
|    Vijay| 29|       3.0| None|
|Sudarshan| 35|       5.0| None|
|    Ketan| 33|       7.0| None|
+---------+---+----------+-----+

In [ ]:
df2.withColumn('New_Experience', df2.Experience*2).show()

+---------+---+----------+--------------+
|     Name|Age|Experience|New_Experience|
+---------+---+----------+--------------+
|     Amit| 22|       1.5|           3.0|
|    Ankit| 25|       2.0|           4.0|
|   Ashish| 18|       1.0|           2.0|
|    Vijay| 29|       3.0|           6.0|
|Sudarshan| 35|       5.0|          10.0|
|    Ketan| 33|       7.0|          14.0|
+---------+---+----------+--------------+

In [ ]:
# add coloumn by concatinating from existing columns---> f.concat_ws
df2.withColumn("Concate_column", f.concat_ws(',', 'Name', 'age')).show() #----> with seperator

+---------+---+----------+--------------+
|     Name|Age|Experience|Concate_column|
+---------+---+----------+--------------+
|     Amit| 22|       1.5|       Amit,22|
|    Ankit| 25|       2.0|      Ankit,25|
|   Ashish| 18|       1.0|     Ashish,18|
|    Vijay| 29|       3.0|      Vijay,29|
|Sudarshan| 35|       5.0|  Sudarshan,35|
|    Ketan| 33|       7.0|      Ketan,33|
+---------+---+----------+--------------+

In [ ]:
df2.withColumn("Concate_column", f.concat_ws('', 'Name', 'age')).show() #---> without separation

+---------+---+----------+--------------+
|     Name|Age|Experience|Concate_column|
+---------+---+----------+--------------+
|     Amit| 22|       1.5|        Amit22|
|    Ankit| 25|       2.0|       Ankit25|
|   Ashish| 18|       1.0|      Ashish18|
|    Vijay| 29|       3.0|       Vijay29|
|Sudarshan| 35|       5.0|   Sudarshan35|
|    Ketan| 33|       7.0|       Ketan33|
+---------+---+----------+--------------+

In [ ]:
# help(f.concat_ws)
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
df2.withColumn("Concated_column", f.concat_ws('-', 'Name', 'Age')).show()

+---------+---+----------+---------------+
|     Name|Age|Experience|Concated_column|
+---------+---+----------+---------------+
|     Amit| 22|       1.5|        Amit-22|
|    Ankit| 25|       2.0|       Ankit-25|
|   Ashish| 18|       1.0|      Ashish-18|
|    Vijay| 29|       3.0|       Vijay-29|
|Sudarshan| 35|       5.0|   Sudarshan-35|
|    Ketan| 33|       7.0|       Ketan-33|
+---------+---+----------+---------------+

In [ ]:
#help(f.concat)

In [ ]:
# adding column with condition

In [ ]:

from pyspark.sql.functions import when

In [ ]:
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:

df2.withColumn("Employee_band", \
               when(df2['Experience'] <= 1.0, lit('Fresher')) \
               .when((df2['Experience'] > 1.0)  & (df2['Experience'] <= 5.0), lit('Intermediate')) \
               .when(df2['Experience'] > 5.0, lit('Expert'))
               ).show()

+---------+---+----------+-------------+
|     Name|Age|Experience|Employee_band|
+---------+---+----------+-------------+
|     Amit| 22|       1.5| Intermediate|
|    Ankit| 25|       2.0| Intermediate|
|   Ashish| 18|       1.0|      Fresher|
|    Vijay| 29|       3.0| Intermediate|
|Sudarshan| 35|       5.0| Intermediate|
|    Ketan| 33|       7.0|       Expert|
+---------+---+----------+-------------+

In [ ]:
# adding column
df2.show()

In [ ]:
from pyspark.sql.functions import when

In [ ]:
if 'Salary' not in df2.columns:
  df2.withColumn("Salary", lit('None')).show()
else:
  pass

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Amit| 22|       1.5|  None|
|    Ankit| 25|       2.0|  None|
|   Ashish| 18|       1.0|  None|
|    Vijay| 29|       3.0|  None|
|Sudarshan| 35|       5.0|  None|
|    Ketan| 33|       7.0|  None|
+---------+---+----------+------+

In [ ]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

In [ ]:
# we cannot convert string to interger but we can convert interger to string
# Changing datatype of an existing column

from pyspark.sql.types import FloatType
from pyspark.sql.functions import col

df2.withColumn('Age', col('Age').cast(FloatType())).printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: float (nullable = true)
 |-- Experience: double (nullable = true)

In [ ]:
# Dropping a column

df2.drop(df2['Age']).show()#---> original dataframe remains same

+---------+----------+
|     Name|Experience|
+---------+----------+
|     Amit|       1.5|
|    Ankit|       2.0|
|   Ashish|       1.0|
|    Vijay|       3.0|
|Sudarshan|       5.0|
|    Ketan|       7.0|
+---------+----------+

In [ ]:
df2.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
df2.drop('Age').show() #----> df2 is intact

+---------+----------+
|     Name|Experience|
+---------+----------+
|     Amit|       1.5|
|    Ankit|       2.0|
|   Ashish|       1.0|
|    Vijay|       3.0|
|Sudarshan|       5.0|
|    Ketan|       7.0|
+---------+----------+

In [ ]:
spark

In [ ]:
# dropping multiple columns

df2.drop("Age", "Experience").show()

+---------+
|     Name|
+---------+
|     Amit|
|    Ankit|
|   Ashish|
|    Vijay|
|Sudarshan|
|    Ketan|
+---------+

In [ ]:
# Renaming columns


df2.withColumnRenamed('Name', 'New_name').show()

+---------+---+----------+
| New_name|Age|Experience|
+---------+---+----------+
|     Amit| 22|       1.5|
|    Ankit| 25|       2.0|
|   Ashish| 18|       1.0|
|    Vijay| 29|       3.0|
|Sudarshan| 35|       5.0|
|    Ketan| 33|       7.0|
+---------+---+----------+

In [ ]:
# renaming multiple column with the chaining

df2.withColumnRenamed("Name", "New_name").withColumnRenamed("Age", "New_Age").show()

+---------+-------+----------+
| New_name|New_Age|Experience|
+---------+-------+----------+
|     Amit|     22|       1.5|
|    Ankit|     25|       2.0|
|   Ashish|     18|       1.0|
|    Vijay|     29|       3.0|
|Sudarshan|     35|       5.0|
|    Ketan|     33|       7.0|
+---------+-------+----------+

In [ ]:
df = spark.read.csv('/content/Tutorial_3.csv', header = True, inferSchema =True)

In [ ]:
df.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|    Vijay|  29|      null| 17000|
|Sudarshan|null|       5.0|  null|
|    Ketan|  33|      null| 23000|
|     null|  36|       8.0|  null|
|     null|  41|      null| 34000|
|     null|null|      null|  null|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
# drop all the records which have null values
df.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

In [ ]:
df.na.drop(how = 'any').show() # how---> it is a condition if there is any column conatins null that row will be dropped

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

In [ ]:
# how = 'all'---> the row which contains null records in all the rows that will be deleted
df.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|    Vijay|  29|      null| 17000|
|Sudarshan|null|       5.0|  null|
|    Ketan|  33|      null| 23000|
|     null|  36|       8.0|  null|
|     null|  41|      null| 34000|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
# thresh parameter --> it first checks how many non null values should be in a column
df.na.drop(thresh = None).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

In [ ]:
# thresh parameter --> checks at least one non null value--> if it has one non null value that record cannot be deleted
df.na.drop(thresh = 1).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|    Vijay|  29|      null| 17000|
|Sudarshan|null|       5.0|  null|
|    Ketan|  33|      null| 23000|
|     null|  36|       8.0|  null|
|     null|  41|      null| 34000|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
# thresh -2 --. checks for two non null values
# thresh = 3--> checks for three non null values and so on
df.na.drop(thresh = 3).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|  Amit|  22|       1.5| 12000|
|  Amit|  22|       1.5| 12000|
|Ashish|null|       1.0| 15000|
| Vijay|  29|      null| 17000|
| Ketan|  33|      null| 23000|
|  Ajit|  43|      10.0| 40000|
|  Ajit|  43|      10.0| 40000|
+------+----+----------+------+

In [ ]:
df.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|    Vijay|  29|      null| 17000|
|Sudarshan|null|       5.0|  null|
|    Ketan|  33|      null| 23000|
|     null|  36|       8.0|  null|
|     null|  41|      null| 34000|
|     null|null|      null|  null|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
#subset--> used for dropping null values from a specified column
df.na.drop(subset = "Experience").show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|   Ashish|null|       1.0| 15000|
|Sudarshan|null|       5.0|  null|
|     null|  36|       8.0|  null|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
df.na.drop(subset = ['Name', 'Experience']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|   Ashish|null|       1.0| 15000|
|Sudarshan|null|       5.0|  null|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
# duplicates
# removes duplicates from all the column
df.drop_duplicates().show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     null|  41|      null| 34000|
|    Ankit|  25|      null|  null|
|     null|null|      null|  null|
|    Ketan|  33|      null| 23000|
|   Ashish|null|       1.0| 15000|
|Sudarshan|null|       5.0|  null|
|     Ajit|  43|      10.0| 40000|
|    Vijay|  29|      null| 17000|
|     null|  36|       8.0|  null|
+---------+----+----------+------+

In [ ]:
# subset ---> used for removing duplicates from a specified column
df.drop_duplicates(subset = ['Name']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     null|  36|       8.0|  null|
|Sudarshan|null|       5.0|  null|
|    Vijay|  29|      null| 17000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|     Ajit|  43|      10.0| 40000|
|     Amit|  22|       1.5| 12000|
|    Ketan|  33|      null| 23000|
+---------+----+----------+------+

In [ ]:
df.drop_duplicates(subset = ['Name']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     null|  36|       8.0|  null|
|Sudarshan|null|       5.0|  null|
|    Vijay|  29|      null| 17000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|     Ajit|  43|      10.0| 40000|
|     Amit|  22|       1.5| 12000|
|    Ketan|  33|      null| 23000|
+---------+----+----------+------+

In [ ]:
# Filling null values

# fill null values in entire DF
df.na.fill('not available').show()
# before filling the null values data tyep of column will be checked
# not available is a string because of this we see this value only in  Name column and not in others columns data

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|         Amit|  22|       1.5| 12000|
|         Amit|  22|       1.5| 12000|
|        Ankit|  25|      null|  null|
|       Ashish|null|       1.0| 15000|
|        Vijay|  29|      null| 17000|
|    Sudarshan|null|       5.0|  null|
|        Ketan|  33|      null| 23000|
|not available|  36|       8.0|  null|
|not available|  41|      null| 34000|
|not available|null|      null|  null|
|         Ajit|  43|      10.0| 40000|
|         Ajit|  43|      10.0| 40000|
+-------------+----+----------+------+

In [ ]:
df.na.fill(value = 0, subset = ['Age', 'Experience']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Amit| 22|       1.5| 12000|
|     Amit| 22|       1.5| 12000|
|    Ankit| 25|       0.0|  null|
|   Ashish|  0|       1.0| 15000|
|    Vijay| 29|       0.0| 17000|
|Sudarshan|  0|       5.0|  null|
|    Ketan| 33|       0.0| 23000|
|     null| 36|       8.0|  null|
|     null| 41|       0.0| 34000|
|     null|  0|       0.0|  null|
|     Ajit| 43|      10.0| 40000|
|     Ajit| 43|      10.0| 40000|
+---------+---+----------+------+

In [ ]:
# filling different values in a different columns after removing null values using dictionary
df.na.fill(value = {'Name': 'Not available',
                    'Age': 0,
                    'Experience':-89,
                    'Salary': -99}).show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|         Amit| 22|       1.5| 12000|
|         Amit| 22|       1.5| 12000|
|        Ankit| 25|     -89.0|   -99|
|       Ashish|  0|       1.0| 15000|
|        Vijay| 29|     -89.0| 17000|
|    Sudarshan|  0|       5.0|   -99|
|        Ketan| 33|     -89.0| 23000|
|Not available| 36|       8.0|   -99|
|Not available| 41|     -89.0| 34000|
|Not available|  0|     -89.0|   -99|
|         Ajit| 43|      10.0| 40000|
|         Ajit| 43|      10.0| 40000|
+-------------+---+----------+------+

In [ ]:
# Fill null values with an value of age mean column

from pyspark.ml.feature import Imputer

In [ ]:
#help(Imputer)

In [ ]:
df.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      null|  null|
|   Ashish|null|       1.0| 15000|
|    Vijay|  29|      null| 17000|
|Sudarshan|null|       5.0|  null|
|    Ketan|  33|      null| 23000|
|     null|  36|       8.0|  null|
|     null|  41|      null| 34000|
|     null|null|      null|  null|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [ ]:
# measure of central tendency---> mean, median, mode
imputer = Imputer(inputCols=["Age", "Experience", "Salary"], outputCols=["Age_imputed", "Experience_imputed", "Salary_imputed"]).setStrategy('mean')

In [ ]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|    Ankit|  25|      null|  null|         25| 5.285714285714286|         24125|
|   Ashish|null|       1.0| 15000|         32|               1.0|         15000|
|    Vijay|  29|      null| 17000|         29| 5.285714285714286|         17000|
|Sudarshan|null|       5.0|  null|         32|               5.0|         24125|
|    Ketan|  33|      null| 23000|         33| 5.285714285714286|         23000|
|     null|  36|       8.0|  null|         36|               8.0|         24125|
|     null|  41|      null| 34000|         41| 5.285714285714286|         34000|
|     null|null|      null|  null|         32| 5.285714285714286|         24125|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
+---------+----+----------+------+-----------+------------------+--------------+

In [ ]:
# median
imputer = Imputer(inputCols=["Age", "Experience", "Salary"], outputCols=["Age_imputed", "Experience_imputed", "Salary_imputed"]).setStrategy("median")

In [ ]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|    Ankit|  25|      null|  null|         25|               5.0|         17000|
|   Ashish|null|       1.0| 15000|         33|               1.0|         15000|
|    Vijay|  29|      null| 17000|         29|               5.0|         17000|
|Sudarshan|null|       5.0|  null|         33|               5.0|         17000|
|    Ketan|  33|      null| 23000|         33|               5.0|         23000|
|     null|  36|       8.0|  null|         36|               8.0|         17000|
|     null|  41|      null| 34000|         41|               5.0|         34000|
|     null|null|      null|  null|         33|               5.0|         17000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
+---------+----+----------+------+-----------+------------------+--------------+

In [ ]:
# mode
imputer = Imputer(inputCols=["Age", "Experience", "Salary"], outputCols=["Age_imputed", "Experience_imputed", "Salary_imputed"]).setStrategy("mode")

In [ ]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|    Ankit|  25|      null|  null|         25|               1.5|         12000|
|   Ashish|null|       1.0| 15000|         22|               1.0|         15000|
|    Vijay|  29|      null| 17000|         29|               1.5|         17000|
|Sudarshan|null|       5.0|  null|         22|               5.0|         12000|
|    Ketan|  33|      null| 23000|         33|               1.5|         23000|
|     null|  36|       8.0|  null|         36|               8.0|         12000|
|     null|  41|      null| 34000|         41|               1.5|         34000|
|     null|null|      null|  null|         22|               1.5|         12000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
+---------+----+----------+------+-----------+------------------+--------------+

In [ ]:
# Method-2
# suppose if we have 100s columns it becomes difficult to hard code all the output coulmns instead of
# it we can iterte over it input cols and add new cols to our DF
imputer = Imputer(inputCols=["Age", "Experience", "Salary"], outputCols=["{}_imputed".format(column) for column in ["Age", "Experience", "Salary"]]).setStrategy('mean')

In [ ]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|    Ankit|  25|      null|  null|         25| 5.285714285714286|         24125|
|   Ashish|null|       1.0| 15000|         32|               1.0|         15000|
|    Vijay|  29|      null| 17000|         29| 5.285714285714286|         17000|
|Sudarshan|null|       5.0|  null|         32|               5.0|         24125|
|    Ketan|  33|      null| 23000|         33| 5.285714285714286|         23000|
|     null|  36|       8.0|  null|         36|               8.0|         24125|
|     null|  41|      null| 34000|         41| 5.285714285714286|         34000|
|     null|null|      null|  null|         32| 5.285714285714286|         24125|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
+---------+----+----------+------+-----------+------------------+--------------+

In [ ]:
output_columns = ["Age", "Experience", "Salary"]

In [ ]:
# Method -3 we can create an object of an output columns and we can use that inside Imputer functions as follows
imputer = Imputer(inputCols=["Age", "Experience", "Salary"], outputCols=["{}_imputed".format(column) for column in output_columns]).setStrategy('median')

In [ ]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|     Amit|  22|       1.5| 12000|         22|               1.5|         12000|
|    Ankit|  25|      null|  null|         25|               5.0|         17000|
|   Ashish|null|       1.0| 15000|         33|               1.0|         15000|
|    Vijay|  29|      null| 17000|         29|               5.0|         17000|
|Sudarshan|null|       5.0|  null|         33|               5.0|         17000|
|    Ketan|  33|      null| 23000|         33|               5.0|         23000|
|     null|  36|       8.0|  null|         36|               8.0|         17000|
|     null|  41|      null| 34000|         41|               5.0|         34000|
|     null|null|      null|  null|         33|               5.0|         17000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
|     Ajit|  43|      10.0| 40000|         43|              10.0|         40000|
+---------+----+----------+------+-----------+------------------+--------------+

In [ ]:
# Filter
# &, |, ==

# Single condition
df.filter(df['Age']< 29).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Ankit| 25|      null|  null|
+-----+---+----------+------+

In [ ]:
df.filter('Age<29').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Ankit| 25|      null|  null|
+-----+---+----------+------+

In [ ]:
# Multiple conditions
df.filter((df['age']<29) & (df['Age']>20)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Ankit| 25|      null|  null|
+-----+---+----------+------+

In [ ]:
df.filter((df['age']<29) | (df['Age']>20)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Ankit| 25|      null|  null|
|Vijay| 29|      null| 17000|
|Ketan| 33|      null| 23000|
| null| 36|       8.0|  null|
| null| 41|      null| 34000|
| Ajit| 43|      10.0| 40000|
| Ajit| 43|      10.0| 40000|
+-----+---+----------+------+

In [ ]:
# Comparision

df.filter(df['Age']==22).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
+----+---+----------+------+

In [ ]:
# Not condtion
# Method
df.filter(df['Age'] !=25).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Vijay| 29|      null| 17000|
|Ketan| 33|      null| 23000|
| null| 36|       8.0|  null|
| null| 41|      null| 34000|
| Ajit| 43|      10.0| 40000|
| Ajit| 43|      10.0| 40000|
+-----+---+----------+------+

In [ ]:
# Method- 2

df.filter(~(df['Age']==25)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Vijay| 29|      null| 17000|
|Ketan| 33|      null| 23000|
| null| 36|       8.0|  null|
| null| 41|      null| 34000|
| Ajit| 43|      10.0| 40000|
| Ajit| 43|      10.0| 40000|
+-----+---+----------+------+

In [ ]:
# Finding null values in a specific column
# Method- 1

df.filter('Name is null').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|null|  36|       8.0|  null|
|null|  41|      null| 34000|
|null|null|      null|  null|
+----+----+----------+------+

In [ ]:
# Method- 2
df.filter(df['Age'].isNull()).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Ashish|null|       1.0| 15000|
|Sudarshan|null|       5.0|  null|
|     null|null|      null|  null|
+---------+----+----------+------+

In [ ]:
df.filter(df.Age.isNull()).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Ashish|null|       1.0| 15000|
|Sudarshan|null|       5.0|  null|
|     null|null|      null|  null|
+---------+----+----------+------+

In [ ]:
# finding null values in a multiple columns
df.filter("Name is null and Age is null").show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|null|null|      null|  null|
+----+----+----------+------+

In [ ]:
df.filter(df['Name'].isNull() & df['Age'].isNull()).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|null|null|      null|  null|
+----+----+----------+------+