<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/pyspark_13_12_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
emp = pd.read_csv("/content/Employee_1.csv")

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=008857b9faacf77aa9c88168a46e73a574a3aaee578355697fcd57f384454050
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('day2').getOrCreate()

In [6]:
df = spark.read.csv("/content/Employee_1.csv", header=True, inferSchema=True)

In [7]:
df.show(4)

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 4 rows

In [8]:
df.select(df['PaymentTier']).distinct().orderBy('PaymentTier').show()

+-----------+
|PaymentTier|
+-----------+
|          1|
|          2|
|          3|
+-----------+

In [9]:
df.filter('Age is not null').count()

4653

#GroupBy operations

In [10]:
df.groupBy('Education').sum('Age').show()

+---------+--------+
|Education|sum(Age)|
+---------+--------+
|  Masters|   25571|
|Bachelors|  105952|
|      PHD|    5244|
+---------+--------+

In [11]:
df.groupBy('Education').avg('Age').show()

+---------+------------------+
|Education|          avg(Age)|
+---------+------------------+
|  Masters| 29.29095074455899|
|Bachelors|29.422938072757567|
|      PHD| 29.29608938547486|
+---------+------------------+

In [12]:
df.groupBy('City').max('Age').show()

+---------+--------+
|     City|max(Age)|
+---------+--------+
|Bangalore|      41|
|     Pune|      41|
|New Delhi|      41|
+---------+--------+

In [13]:
df.groupBy('City').min('Age').show()

+---------+--------+
|     City|min(Age)|
+---------+--------+
|Bangalore|      22|
|     Pune|      22|
|New Delhi|      22|
+---------+--------+

In [14]:
df.groupBy('City').avg('Age').show()

+---------+------------------+
|     City|          avg(Age)|
+---------+------------------+
|Bangalore|29.594254937163374|
|     Pune| 29.28864353312303|
|New Delhi|29.121002592912706|
+---------+------------------+

In [15]:
df.groupBy('Education').count().show()

+---------+-----+
|Education|count|
+---------+-----+
|  Masters|  873|
|Bachelors| 3601|
|      PHD|  179|
+---------+-----+

In [16]:
df.groupBy('City').count().show()

+---------+-----+
|     City|count|
+---------+-----+
|Bangalore| 2228|
|     Pune| 1268|
|New Delhi| 1157|
+---------+-----+

In [17]:
df.groupBy('City').max('PaymentTier').orderBy('City').show()

+---------+----------------+
|     City|max(PaymentTier)|
+---------+----------------+
|Bangalore|               3|
|New Delhi|               3|
|     Pune|               3|
+---------+----------------+

In [18]:
df.groupBy('City').min('PaymentTier').orderBy('City').show()

+---------+----------------+
|     City|min(PaymentTier)|
+---------+----------------+
|Bangalore|               1|
|New Delhi|               1|
|     Pune|               1|
+---------+----------------+

In [19]:
user = spark.read.csv('/content/users.csv', header=True, inferSchema=True)

In [27]:
user.show(5)

+-------+--------+------------------+--------+
|user_id|    name|             email|password|
+-------+--------+------------------+--------+
|      1|  Nitish|  nitish@gmail.com|   p252h|
|      2|Khushboo|khushboo@gmail.com|   hxn9b|
|      3| Vartika| vartika@gmail.com|   9hu7j|
|      4|   Ankit|   ankit@gmail.com|   lkko3|
|      5|    Neha|    neha@gmail.com|   3i7qm|
+-------+--------+------------------+--------+
only showing top 5 rows

In [21]:
restaurant = spark.read.csv('/content/restaurants.csv', header=True, inferSchema=True)

In [28]:
restaurant.show(5)

+----+----------+------------+
|r_id|    r_name|     cuisine|
+----+----------+------------+
|   1|   dominos|     Italian|
|   2|       kfc|    American|
|   3|      box8|North Indian|
|   4|Dosa Plaza|South Indian|
|   5|China Town|     Chinese|
+----+----------+------------+

In [22]:
order = spark.read.csv("/content/orders.csv", header=True, inferSchema=True)

In [24]:
order.show(5)

+--------+-------+----+------+----------+----------+-------------+---------------+-----------------+
|order_id|user_id|r_id|amount|      date|partner_id|delivery_time|delivery_rating|restaurant_rating|
+--------+-------+----+------+----------+----------+-------------+---------------+-----------------+
|    1001|      1|   1|   550|2022-05-10|         1|           25|              5|                3|
|    1002|      1|   2|   415|2022-05-26|         1|           19|              5|                2|
|    1003|      1|   3|   240|2022-06-15|         5|           29|              4|             NULL|
|    1004|      1|   3|   240|2022-06-29|         4|           42|              3|                5|
|    1005|      1|   3|   220|2022-07-10|         1|           58|              1|                4|
+--------+-------+----+------+----------+----------+-------------+---------------+-----------------+
only showing top 5 rows

In [25]:
order_detail = spark.read.csv("/content/order_details.csv", header=True, inferSchema=True)

In [26]:
order_detail.show(5)

+---+--------+----+
| id|order_id|f_id|
+---+--------+----+
|  1|    1001|   1|
|  2|    1001|   3|
|  3|    1002|   4|
|  4|    1002|   3|
|  5|    1003|   6|
+---+--------+----+
only showing top 5 rows

In [29]:
restaurant.join(order, on = 'r_id',how='left').show()

+----+----------+------------+--------+-------+------+----------+----------+-------------+---------------+-----------------+
|r_id|    r_name|     cuisine|order_id|user_id|amount|      date|partner_id|delivery_time|delivery_rating|restaurant_rating|
+----+----------+------------+--------+-------+------+----------+----------+-------------+---------------+-----------------+
|   1|   dominos|     Italian|    1022|      5|   550|2022-07-08|         1|           34|              5|                1|
|   1|   dominos|     Italian|    1021|      5|   550|2022-07-01|         5|           22|              2|             NULL|
|   1|   dominos|     Italian|    1011|      3|   450|2022-05-10|         2|           25|              3|                1|
|   1|   dominos|     Italian|    1006|      2|   950|2022-06-10|         2|           16|              5|             NULL|
|   1|   dominos|     Italian|    1001|      1|   550|2022-05-10|         1|           25|              5|                3|
|   2|       kfc|    American|    1025|      5|   645|2022-07-28|         2|           44|              4|             NULL|
|   2|       kfc|    American|    1024|      5|   645|2022-07-21|         2|           58|              2|                1|
|   2|       kfc|    American|    1023|      5|   645|2022-07-15|         4|           38|              5|                1|
|   2|       kfc|    American|    1015|      3|   230|2022-06-22|         3|           21|              5|             NULL|
|   2|       kfc|    American|    1014|      3|   230|2022-06-11|         2|           55|              1|                2|
|   2|       kfc|    American|    1013|      3|   230|2022-05-30|         4|           45|              3|             NULL|
|   2|       kfc|    American|    1007|      2|   530|2022-06-23|         3|           60|              1|                5|
|   2|       kfc|    American|    1002|      1|   415|2022-05-26|         1|           19|              5|                2|
|   3|      box8|North Indian|    1008|      2|   240|2022-07-07|         5|           33|              4|                5|
|   3|      box8|North Indian|    1005|      1|   220|2022-07-10|         1|           58|              1|                4|
|   3|      box8|North Indian|    1004|      1|   240|2022-06-29|         4|           42|              3|                5|
|   3|      box8|North Indian|    1003|      1|   240|2022-06-15|         5|           29|              4|             NULL|
|   4|Dosa Plaza|South Indian|    1018|      4|   400|2022-06-15|         2|           40|              3|                5|
|   4|Dosa Plaza|South Indian|    1017|      4|   300|2022-05-30|         1|           50|              1|             NULL|
|   4|Dosa Plaza|South Indian|    1016|      4|   300|2022-05-15|         3|           31|              5|                5|
+----+----------+------------+--------+-------+------+----------+----------+-------------+---------------+-----------------+
only showing top 20 rows