<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/pyspark_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=fdc07170c753ab3d69922405dc01654afe61923e315d042908e94e5c3d724b2e
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Day3").getOrCreate()

In [ ]:
df = spark.read.csv("/content/array.csv", header= True, inferSchema = True)

In [ ]:
df.show(truncate = False)

+-----+-------------------------------+
|name |data                           |
+-----+-------------------------------+
|Tom  |10|40|20|10|30                 |
|Jenny|100|800|200|100|300|200|500|300|
+-----+-------------------------------+

In [ ]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- data: string (nullable = true)

In [ ]:
from pyspark.sql import functions as f

In [ ]:
# add new column --->which list of values from data
df.withColumn("data_array", f.split("data",r"\|")).show(truncate = False)

+-----+-------------------------------+----------------------------------------+
|name |data                           |data_array                              |
+-----+-------------------------------+----------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|
+-----+-------------------------------+----------------------------------------+

In [ ]:
# size, array_max, array_min

df.withColumn("data_array", f.split("data",r"\|")).withColumn("size_array", f.size("data_array")).show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------+
|name |data                           |data_array                              |size_array|
+-----+-------------------------------+----------------------------------------+----------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |
+-----+-------------------------------+----------------------------------------+----------+

In [ ]:
df.withColumn("data_array", f.split("data", r"\|")).withColumn("array_size", f.size("data_array")).withColumn("array_max", f.array_max("data_array")).show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------+---------+
|name |data                           |data_array                              |array_size|array_max|
+-----+-------------------------------+----------------------------------------+----------+---------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |40       |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |800      |
+-----+-------------------------------+----------------------------------------+----------+---------+

In [ ]:
df.withColumn("data_array", f.split("data", r"\|")).withColumn("array_size", f.size("data_array")).withColumn("array_min", f.array_min("data_array")).show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------+---------+
|name |data                           |data_array                              |array_size|array_min|
+-----+-------------------------------+----------------------------------------+----------+---------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |10       |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |100      |
+-----+-------------------------------+----------------------------------------+----------+---------+

In [ ]:
df.withColumn("data_array", f.split("data", r"\|")).withColumn("array_size", f.size("data_array")).withColumn("array_max", f.array_max("data_array")).withColumn("array_min", f.array_min("data_array")).show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------+---------+---------+
|name |data                           |data_array                              |array_size|array_max|array_min|
+-----+-------------------------------+----------------------------------------+----------+---------+---------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |40       |10       |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |800      |100      |
+-----+-------------------------------+----------------------------------------+----------+---------+---------+

In [ ]:
from pyspark.sql.functions import element_at

#size
#array_max
#array_min

In [ ]:
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_max", f.array_max("data_array")).\
withColumn("array_min", f.array_min("data_array")).\
withColumn("element_at", f.element_at("data_array", 2)).\
show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------+---------+---------+----------+
|name |data                           |data_array                              |array_size|array_max|array_min|element_at|
+-----+-------------------------------+----------------------------------------+----------+---------+---------+----------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |40       |10       |40        |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |800      |100      |800       |
+-----+-------------------------------+----------------------------------------+----------+---------+---------+----------+

# Element_at

In [ ]:
# finding element in an array that is index of an element
# element_at----> it is functions used to find the index of the element in an array
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_max", f.array_max("data_array")).\
withColumn("array_min", f.array_min("data_array")).\
withColumn("element_at", f.element_at("data_array", 2)).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+---------+---------+----------+
|name |data                           |data_array                              |array_size|array_max|array_min|element_at|
+-----+-------------------------------+----------------------------------------+----------+---------+---------+----------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |40       |10       |40        |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |800      |100      |800       |
+-----+-------------------------------+----------------------------------------+----------+---------+---------+----------+

# array_contains

In [ ]:
# array contains---> it is a function used to check whether particular value present in array or not
# it returns boolean vlaue--> if value present it returns true or if value not present returns false

df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_max", f.array_max("data_array")).\
withColumn("array_contains", f.array_contains("data_array", '50')).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+---------+--------------+
|name |data                           |data_array                              |array_size|array_max|array_contains|
+-----+-------------------------------+----------------------------------------+----------+---------+--------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |40       |false         |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |800      |false         |
+-----+-------------------------------+----------------------------------------+----------+---------+--------------+

In [ ]:
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_max", f.array_max("data_array")).\
withColumn("array_contains", f.array_contains("data_array", '40')).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+---------+--------------+
|name |data                           |data_array                              |array_size|array_max|array_contains|
+-----+-------------------------------+----------------------------------------+----------+---------+--------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |40       |true          |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |800      |false         |
+-----+-------------------------------+----------------------------------------+----------+---------+--------------+

# reverse--> reverses the array

In [ ]:
# reverse---> it is function used to reverse the array

df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_reverse", f.reverse("data_array")).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+----------------------------------------+
|name |data                           |data_array                              |array_size|array_reverse                           |
+-----+-------------------------------+----------------------------------------+----------+----------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |[30, 10, 20, 40, 10]                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |[300, 500, 200, 300, 100, 200, 800, 100]|
+-----+-------------------------------+----------------------------------------+----------+----------------------------------------+

# array_position

In [ ]:
# array_position ---> it is function gives the position of an element in an array
# if element present in an array gives the position of an arry
# if not present element in an array returns 0
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_position", f.array_position("data_array", '800')).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+--------------+
|name |data                           |data_array                              |array_size|array_position|
+-----+-------------------------------+----------------------------------------+----------+--------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |0             |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |2             |
+-----+-------------------------------+----------------------------------------+----------+--------------+

# array_sort

In [ ]:
# array_sort---> it sorts the arrya in an asxending order by default

df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_sort", f.array_sort("data_array")).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+----------------------------------------+
|name |data                           |data_array                              |array_size|array_sort                              |
+-----+-------------------------------+----------------------------------------+----------+----------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |[10, 10, 20, 30, 40]                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |[100, 100, 200, 200, 300, 300, 500, 800]|
+-----+-------------------------------+----------------------------------------+----------+----------------------------------------+

In [ ]:
help(f.array_distinct)

Help on function array_distinct in module pyspark.sql.functions:

array_distinct(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Collection function: removes duplicate values from the array.

    .. versionadded:: 2.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column` or str
        name of column or expression

    Returns
    -------
    :class:`~pyspark.sql.Column`
        an array of unique values.

    Examples
    --------
    >>> df = spark.createDataFrame([([1, 2, 3, 2],), ([4, 5, 5, 4],)], ['data'])
    >>> df.select(array_distinct(df.data)).collect()
    [Row(array_distinct(data)=[1, 2, 3]), Row(array_distinct(data)=[4, 5])]

# array_distinct

In [ ]:
# array_distinct --> it returns distinct element from the array
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_size", f.size("data_array")).\
withColumn("array_distinct", f.array_distinct("data_array")).\
withColumn("array_sort", f.array_sort("array_distinct")).\
show(truncate = False)

+-----+-------------------------------+----------------------------------------+----------+-------------------------+-------------------------+
|name |data                           |data_array                              |array_size|array_distinct           |array_sort               |
+-----+-------------------------------+----------------------------------------+----------+-------------------------+-------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |5         |[10, 40, 20, 30]         |[10, 20, 30, 40]         |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|8         |[100, 800, 200, 300, 500]|[100, 200, 300, 500, 800]|
+-----+-------------------------------+----------------------------------------+----------+-------------------------+-------------------------+