<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/Pyspark_5_11_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('5/11/2024').getOrCreate()

In [4]:
ipl = spark.read.csv('/content/deliveries.csv', inferSchema = True, header = True)

In [37]:
matches = spark.read.csv('/content/matches.csv', inferSchema = True, header = True)

In [5]:
ipl.show(5)

+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|match_id|inning|       batting_team|        bowling_team|over|ball|  batsman|non_striker|  bowler|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|player_dismissed|dismissal_kind|fielder|
+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   1|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   2|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   3|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           4|         0|         4|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   4|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   5|DA Warner|   S Dhawan|TS Mills|            0|        2|       0|          0|          0|           0|           0|         2|         2|            NULL|          NULL|   NULL|
+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
only showing top 5 rows

In [6]:
df = spark.read.csv('/content/Tutorial_4.csv', inferSchema = True, header = True)

In [7]:
df.show(4)

+------+------------+------+----------+
|  Name|  Department|Salary|Experience|
+------+------------+------+----------+
|  Amit|Data Science| 25000|         5|
|Mahesh|    Big Data| 17000|         7|
|Ramesh|    Big Data| 17000|         2|
|Sudhir|         IOT| 12000|         1|
+------+------------+------+----------+
only showing top 4 rows

In [8]:
df.show()

+------+----------------+------+----------+
|  Name|      Department|Salary|Experience|
+------+----------------+------+----------+
|  Amit|    Data Science| 25000|         5|
|Mahesh|        Big Data| 17000|         7|
|Ramesh|        Big Data| 17000|         2|
|Sudhir|             IOT| 12000|         1|
|Sudhir|        Big Data|  7000|         4|
| Sunny|    Data Science| 20000|         2|
| Sunny|        Big Data| 12000|         3|
|  Alka|Machine Learning| 30000|         4|
+------+----------------+------+----------+

In [9]:
from pyspark.sql import functions as f

In [10]:
df.groupby('Department').agg(f.max('Salary')).show()

+----------------+-----------+
|      Department|max(Salary)|
+----------------+-----------+
|             IOT|      12000|
|Machine Learning|      30000|
|        Big Data|      17000|
|    Data Science|      25000|
+----------------+-----------+

In [11]:
df.groupby('Department').agg(f.min('Salary'), f.min('Experience')).show()

+----------------+-----------+---------------+
|      Department|min(Salary)|min(Experience)|
+----------------+-----------+---------------+
|             IOT|      12000|              1|
|Machine Learning|      30000|              4|
|        Big Data|       7000|              2|
|    Data Science|      20000|              2|
+----------------+-----------+---------------+

In [12]:
df1 = spark.read.csv('/content/Tutorial_3.csv', inferSchema = True, header = True)

In [13]:
df1.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     NULL|NULL|      NULL|  NULL|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [14]:
# selecting cloumns
df1.select('Name', 'Age').show(4)

+------+----+
|  Name| Age|
+------+----+
|  Amit|  22|
|  Amit|  22|
| Ankit|  25|
|Ashish|NULL|
+------+----+
only showing top 4 rows

In [15]:
df1.select(['Name', 'Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|     Amit| 12000|
|     Amit| 12000|
|    Ankit|  NULL|
|   Ashish| 15000|
|    Vijay| 17000|
|Sudarshan|  NULL|
|    Ketan| 23000|
|     NULL|  NULL|
|     NULL| 34000|
|     NULL|  NULL|
|     Ajit| 40000|
|     Ajit| 40000|
+---------+------+

In [16]:
# adding new column

df1.withColumn('New_Exp', df1['Experience']+2).show()

+---------+----+----------+------+-------+
|     Name| Age|Experience|Salary|New_Exp|
+---------+----+----------+------+-------+
|     Amit|  22|       1.5| 12000|    3.5|
|     Amit|  22|       1.5| 12000|    3.5|
|    Ankit|  25|      NULL|  NULL|   NULL|
|   Ashish|NULL|       1.0| 15000|    3.0|
|    Vijay|  29|      NULL| 17000|   NULL|
|Sudarshan|NULL|       5.0|  NULL|    7.0|
|    Ketan|  33|      NULL| 23000|   NULL|
|     NULL|  36|       8.0|  NULL|   10.0|
|     NULL|  41|      NULL| 34000|   NULL|
|     NULL|NULL|      NULL|  NULL|   NULL|
|     Ajit|  43|      10.0| 40000|   12.0|
|     Ajit|  43|      10.0| 40000|   12.0|
+---------+----+----------+------+-------+

In [17]:
# renaming column
df1.withColumnRenamed('Name', 'New_Name').show(4)
df1.show(4) # orginal dataframe is intact

+--------+----+----------+------+
|New_Name| Age|Experience|Salary|
+--------+----+----------+------+
|    Amit|  22|       1.5| 12000|
|    Amit|  22|       1.5| 12000|
|   Ankit|  25|      NULL|  NULL|
|  Ashish|NULL|       1.0| 15000|
+--------+----+----------+------+
only showing top 4 rows

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|  Amit|  22|       1.5| 12000|
|  Amit|  22|       1.5| 12000|
| Ankit|  25|      NULL|  NULL|
|Ashish|NULL|       1.0| 15000|
+------+----+----------+------+
only showing top 4 rows

In [18]:
df1.withColumnRenamed('Name', 'New_name').withColumnRenamed('Age', 'New_age').show(4)

+--------+-------+----------+------+
|New_name|New_age|Experience|Salary|
+--------+-------+----------+------+
|    Amit|     22|       1.5| 12000|
|    Amit|     22|       1.5| 12000|
|   Ankit|     25|      NULL|  NULL|
|  Ashish|   NULL|       1.0| 15000|
+--------+-------+----------+------+
only showing top 4 rows

In [19]:
# dropping a column

df1.drop('Age').show(4)
df.show(4)

+------+----------+------+
|  Name|Experience|Salary|
+------+----------+------+
|  Amit|       1.5| 12000|
|  Amit|       1.5| 12000|
| Ankit|      NULL|  NULL|
|Ashish|       1.0| 15000|
+------+----------+------+
only showing top 4 rows

+------+------------+------+----------+
|  Name|  Department|Salary|Experience|
+------+------------+------+----------+
|  Amit|Data Science| 25000|         5|
|Mahesh|    Big Data| 17000|         7|
|Ramesh|    Big Data| 17000|         2|
|Sudhir|         IOT| 12000|         1|
+------+------------+------+----------+
only showing top 4 rows

In [20]:
# dropping multiple columns
df1.drop('Age', 'Salary').show(4)
df1.show(4)

+------+----------+
|  Name|Experience|
+------+----------+
|  Amit|       1.5|
|  Amit|       1.5|
| Ankit|      NULL|
|Ashish|       1.0|
+------+----------+
only showing top 4 rows

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|  Amit|  22|       1.5| 12000|
|  Amit|  22|       1.5| 12000|
| Ankit|  25|      NULL|  NULL|
|Ashish|NULL|       1.0| 15000|
+------+----+----------+------+
only showing top 4 rows

In [21]:
from pyspark.sql.functions import lit

In [22]:
df1.withColumn('Bonus', lit('None')).show(5)

+------+----+----------+------+-----+
|  Name| Age|Experience|Salary|Bonus|
+------+----+----------+------+-----+
|  Amit|  22|       1.5| 12000| None|
|  Amit|  22|       1.5| 12000| None|
| Ankit|  25|      NULL|  NULL| None|
|Ashish|NULL|       1.0| 15000| None|
| Vijay|  29|      NULL| 17000| None|
+------+----+----------+------+-----+
only showing top 5 rows

In [23]:
df1.withColumn('Bonus', df1['Salary']*0.15).show(5)

+------+----+----------+------+------+
|  Name| Age|Experience|Salary| Bonus|
+------+----+----------+------+------+
|  Amit|  22|       1.5| 12000|1800.0|
|  Amit|  22|       1.5| 12000|1800.0|
| Ankit|  25|      NULL|  NULL|  NULL|
|Ashish|NULL|       1.0| 15000|2250.0|
| Vijay|  29|      NULL| 17000|2550.0|
+------+----+----------+------+------+
only showing top 5 rows

In [24]:
# find null values
df1.na.drop(how = 'any').show()
df1.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

In [25]:
df1.show()
df1.na.drop(how = 'all').show() # if all the rows contains null values in each column then that particular row will be deleted
df1.na.drop(how = 'any').show() # if any column contains null values that particular row will be dropped

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     NULL|NULL|      NULL|  NULL|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

In [26]:
# thresh -- this parameter shows how many columns should contain values in particular row
df1.show()
df1.na.drop(thresh = 2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     NULL|NULL|      NULL|  NULL|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [27]:
# thresh
df1.show()
df1.na.drop(thresh = 4).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     NULL|NULL|      NULL|  NULL|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Amit| 22|       1.5| 12000|
|Amit| 22|       1.5| 12000|
|Ajit| 43|      10.0| 40000|
|Ajit| 43|      10.0| 40000|
+----+---+----------+------+

In [28]:
# subset-- it is used to drop values from the particular column
df1.show()
df1.na.drop(subset = ['Name']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     NULL|  36|       8.0|  NULL|
|     NULL|  41|      NULL| 34000|
|     NULL|NULL|      NULL|  NULL|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|     Amit|  22|       1.5| 12000|
|     Amit|  22|       1.5| 12000|
|    Ankit|  25|      NULL|  NULL|
|   Ashish|NULL|       1.0| 15000|
|    Vijay|  29|      NULL| 17000|
|Sudarshan|NULL|       5.0|  NULL|
|    Ketan|  33|      NULL| 23000|
|     Ajit|  43|      10.0| 40000|
|     Ajit|  43|      10.0| 40000|
+---------+----+----------+------+

In [29]:
# count null values of name column
df1.filter(f.col('Name').isNull()).count()

3

In [30]:
for column in df1.columns:
  print(column, df1.filter(f.col(column).isNull()).count())

Name 3
Age 3
Experience 5
Salary 4

In [31]:
# filter
df1.filter('Age is not null').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Amit| 22|       1.5| 12000|
| Amit| 22|       1.5| 12000|
|Ankit| 25|      NULL|  NULL|
|Vijay| 29|      NULL| 17000|
|Ketan| 33|      NULL| 23000|
| NULL| 36|       8.0|  NULL|
| NULL| 41|      NULL| 34000|
| Ajit| 43|      10.0| 40000|
| Ajit| 43|      10.0| 40000|
+-----+---+----------+------+

In [32]:
df1.filter('Age > 25').show()
df1.filter(df1['Age'] > 25).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Vijay| 29|      NULL| 17000|
|Ketan| 33|      NULL| 23000|
| NULL| 36|       8.0|  NULL|
| NULL| 41|      NULL| 34000|
| Ajit| 43|      10.0| 40000|
| Ajit| 43|      10.0| 40000|
+-----+---+----------+------+

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Vijay| 29|      NULL| 17000|
|Ketan| 33|      NULL| 23000|
| NULL| 36|       8.0|  NULL|
| NULL| 41|      NULL| 34000|
| Ajit| 43|      10.0| 40000|
| Ajit| 43|      10.0| 40000|
+-----+---+----------+------+

In [33]:
ipl.show(5)

+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|match_id|inning|       batting_team|        bowling_team|over|ball|  batsman|non_striker|  bowler|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|player_dismissed|dismissal_kind|fielder|
+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   1|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   2|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   3|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           4|         0|         4|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   4|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   5|DA Warner|   S Dhawan|TS Mills|            0|        2|       0|          0|          0|           0|           0|         2|         2|            NULL|          NULL|   NULL|
+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
only showing top 5 rows

In [34]:
for column in ipl.columns:
  print(column, ipl.filter(f.col(column).isNull()).count())

match_id 0
inning 0
batting_team 0
bowling_team 0
over 0
ball 0
batsman 0
non_striker 0
bowler 0
is_super_over 0
wide_runs 0
bye_runs 0
legbye_runs 0
noball_runs 0
penalty_runs 0
batsman_runs 0
extra_runs 0
total_runs 0
player_dismissed 143022
dismissal_kind 143022
fielder 145091

In [35]:
df1.filter(df1['Name'] == 'Ankit').show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Ankit| 25|      NULL|  NULL|
+-----+---+----------+------+

In [36]:
ipl.show(1)

+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|match_id|inning|       batting_team|        bowling_team|over|ball|  batsman|non_striker|  bowler|is_super_over|wide_runs|bye_runs|legbye_runs|noball_runs|penalty_runs|batsman_runs|extra_runs|total_runs|player_dismissed|dismissal_kind|fielder|
+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
|       1|     1|Sunrisers Hyderabad|Royal Challengers...|   1|   1|DA Warner|   S Dhawan|TS Mills|            0|        0|       0|          0|          0|           0|           0|         0|         0|            NULL|          NULL|   NULL|
+--------+------+-------------------+--------------------+----+----+---------+-----------+--------+-------------+---------+--------+-----------+-----------+------------+------------+----------+----------+----------------+--------------+-------+
only showing top 1 row

In [38]:
matches.show(4)

+---+------+---------+----------+--------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+-------------+-------+
| id|season|     city|      date|               team1|               team2|         toss_winner|toss_decision|result|dl_applied|              winner|win_by_runs|win_by_wickets|player_of_match|               venue|       umpire1|      umpire2|umpire3|
+---+------+---------+----------+--------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+-------------+-------+
|  1|  2017|Hyderabad|2017-04-05| Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0| Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|   AY Dandekar|     NJ Llong|   NULL|
|  2|  2017|     Pune|2017-04-06|      Mumbai Indians|Rising Pune Super...|Rising Pune Super...|        field|normal|         0|Rising Pune Super...|          0|             7|      SPD Smith|Maharashtra Crick...|A Nand Kishore|       S Ravi|   NULL|
|  3|  2017|   Rajkot|2017-04-07|       Gujarat Lions|Kolkata Knight Ri...|Kolkata Knight Ri...|        field|normal|         0|Kolkata Knight Ri...|          0|            10|        CA Lynn|Saurashtra Cricke...|   Nitin Menon|    CK Nandan|   NULL|
|  4|  2017|   Indore|2017-04-08|Rising Pune Super...|     Kings XI Punjab|     Kings XI Punjab|        field|normal|         0|     Kings XI Punjab|          0|             6|     GJ Maxwell|Holkar Cricket St...|  AK Chaudhary|C Shamshuddin|   NULL|
+---+------+---------+----------+--------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+-------------+-------+
only showing top 4 rows

1) How many matches we’ve got in the dataset?

2) How many seasons we’ve got in the dataset?

3) Which Team had won by maximum runs?

4) Which Team had won by maximum wicket?

5) Which Team had won by closest Margin (minimum runs)?

6) Which Team had won by minimum wicket?

7) Which Season had most number of matches?

8) Which IPL Team is more successful?

9) Has Toss-winning helped in winning matches?

In [43]:
# 1) How many matches we’ve got in the dataset?

ipl.select(ipl['match_id']).alias('total_number_matches').distinct().count()

636

In [44]:
#2) How many seasons we’ve got in the dataset?

matches.select('season').distinct().count()

10

In [49]:
# 3) Which Team had won by maximum runs?
matches.groupby('winner').agg(f.max('win_by_runs')).orderBy('max(win_by_runs)', ascending = False).show(1)

+--------------+----------------+
|        winner|max(win_by_runs)|
+--------------+----------------+
|Mumbai Indians|             146|
+--------------+----------------+
only showing top 1 row

In [56]:
# another approach
teams = matches.select('winner', 'win_by_runs')
teams.orderBy('win_by_runs', ascending = False).show(1)

+--------------+-----------+
|        winner|win_by_runs|
+--------------+-----------+
|Mumbai Indians|        146|
+--------------+-----------+
only showing top 1 row

In [58]:
# 4)Team had won by maximum runs?

matches.groupby('winner').agg(f.max('win_by_runs')).orderBy('max(win_by_runs)', ascending = False).show()

+--------------------+----------------+
|              winner|max(win_by_runs)|
+--------------------+----------------+
|      Mumbai Indians|             146|
|Royal Challengers...|             144|
|Kolkata Knight Ri...|             140|
|     Kings XI Punjab|             111|
|    Rajasthan Royals|             105|
| Chennai Super Kings|              97|
|    Delhi Daredevils|              97|
| Sunrisers Hyderabad|              85|
|     Deccan Chargers|              82|
|Rising Pune Super...|              61|
|       Pune Warriors|              38|
|Rising Pune Super...|              34|
|Kochi Tuskers Kerala|              17|
|       Gujarat Lions|               1|
|                NULL|               0|
+--------------------+----------------+

In [59]:
#4) Which Team had won by maximum wicket?
matches.groupby('winner').agg(f.max('win_by_wickets')).orderBy('max(win_by_wickets)', ascending = False).show(1)

+-------------------+-------------------+
|             winner|max(win_by_wickets)|
+-------------------+-------------------+
|Sunrisers Hyderabad|                 10|
+-------------------+-------------------+
only showing top 1 row

In [61]:
# 4) Team had won by maximum wicket?

matches.groupby('winner').agg(f.max('win_by_wickets')).orderBy('max(win_by_wickets)', ascending = False).show()

+--------------------+-------------------+
|              winner|max(win_by_wickets)|
+--------------------+-------------------+
| Sunrisers Hyderabad|                 10|
| Chennai Super Kings|                 10|
|     Deccan Chargers|                 10|
|    Rajasthan Royals|                 10|
|Royal Challengers...|                 10|
|Kolkata Knight Ri...|                 10|
|     Kings XI Punjab|                 10|
|    Delhi Daredevils|                 10|
|      Mumbai Indians|                 10|
|Rising Pune Super...|                  9|
|Rising Pune Super...|                  9|
|Kochi Tuskers Kerala|                  8|
|       Gujarat Lions|                  7|
|       Pune Warriors|                  7|
|                NULL|                  0|
+--------------------+-------------------+

In [62]:
#5) Which Team had won by closest Margin (minimum runs)?
matches.groupby('winner').agg(f.min('win_by_runs')).orderBy('min(win_by_runs)').show(1)

+-------------------+----------------+
|             winner|min(win_by_runs)|
+-------------------+----------------+
|Sunrisers Hyderabad|               0|
+-------------------+----------------+
only showing top 1 row

In [67]:
teams1 = matches.filter(matches['win_by_runs']==1)

In [68]:
teams1.select('winner', 'win_by_runs').show()

+--------------------+-----------+
|              winner|win_by_runs|
+--------------------+-----------+
|      Mumbai Indians|          1|
|     Kings XI Punjab|          1|
|     Kings XI Punjab|          1|
|    Delhi Daredevils|          1|
|      Mumbai Indians|          1|
| Chennai Super Kings|          1|
|       Gujarat Lions|          1|
|Royal Challengers...|          1|
+--------------------+-----------+

In [72]:
#team won by min wickets
min_wicket = matches.select('winner', 'win_by_wickets')

In [73]:
min_wicket.filter(min_wicket['win_by_wickets']==1).show()

+--------------------+--------------+
|              winner|win_by_wickets|
+--------------------+--------------+
|Kolkata Knight Ri...|             1|
+--------------------+--------------+

In [77]:
# 7) Which Season had most number of matches?
#matches.groupby('season').agg(f.count('season')).orderBy('count(season)', ascending = False).show(1)

matches.groupby('season').agg(f.count('id')).orderBy('count(id)', ascending = False).show(4)

# season 2013 has most number of matches

+------+---------+
|season|count(id)|
+------+---------+
|  2013|       76|
|  2012|       74|
|  2011|       73|
|  2010|       60|
+------+---------+
only showing top 4 rows

In [80]:
# 8) Which IPL Team is more successful?

matches.groupby('winner').agg(f.count('winner')).orderBy('count(winner)', ascending = False).show(5)

# MI is the most successfull team in ipl

+--------------------+-------------+
|              winner|count(winner)|
+--------------------+-------------+
|      Mumbai Indians|           92|
| Chennai Super Kings|           79|
|Kolkata Knight Ri...|           77|
|Royal Challengers...|           73|
|     Kings XI Punjab|           70|
+--------------------+-------------+
only showing top 5 rows

In [82]:
# 9) who have got the most number of player of the match awards
matches.groupby('player_of_match').agg(f.count('player_of_match')).orderBy('count(player_of_match)', ascending = False).show(5)

# CH Gayle have won the most number of man of the match award

+---------------+----------------------+
|player_of_match|count(player_of_match)|
+---------------+----------------------+
|       CH Gayle|                    18|
|      YK Pathan|                    16|
| AB de Villiers|                    15|
|      DA Warner|                    15|
|      RG Sharma|                    14|
+---------------+----------------------+
only showing top 5 rows

In [90]:
# 9) Has Toss-winning helped in winning matches?
round(matches.filter(matches['toss_winner'] == matches['winner']).count()/matches.count()*100,2)

51.1