<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/Pyspark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd
import numpy as np

In [3]:
emp = pd.read_csv("/content/Employee_1.csv")

In [4]:
emp.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [5]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=0db0767cb5c6d9f8144b4dfb2b17a753df2ac156a79e239e22a40f6ea2cff4c6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("day1").getOrCreate()

In [8]:
df = spark.read.csv("/content/Employee_1.csv", header=True, inferSchema=True)

In [9]:
df.show(5)

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- Education: string (nullable = true)
 |-- JoiningYear: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentTier: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EverBenched: string (nullable = true)
 |-- ExperienceInCurrentDomain: integer (nullable = true)
 |-- LeaveOrNot: integer (nullable = true)

#SELECTING COLUMNS

In [11]:
# selecting all the columns
df.columns

['Education',
 'JoiningYear',
 'City',
 'PaymentTier',
 'Age',
 'Gender',
 'EverBenched',
 'ExperienceInCurrentDomain',
 'LeaveOrNot']

In [12]:
# selecting single columns
df.select('Education').show()

+---------+
|Education|
+---------+
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
+---------+
only showing top 20 rows

In [13]:
# method-2
df.select(df['Education']).show()

+---------+
|Education|
+---------+
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
+---------+
only showing top 20 rows

In [14]:
# method-3
df.select(df.Education).show()

+---------+
|Education|
+---------+
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|  Masters|
|  Masters|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
|Bachelors|
+---------+
only showing top 20 rows

In [15]:
# selecting multiple columns
df.select('Education', 'City', 'Age', 'Gender').show()

+---------+---------+---+------+
|Education|     City|Age|Gender|
+---------+---------+---+------+
|Bachelors|Bangalore| 34|  Male|
|Bachelors|     Pune| 28|Female|
|Bachelors|New Delhi| 38|Female|
|  Masters|Bangalore| 27|  Male|
|  Masters|     Pune| 24|  Male|
|Bachelors|Bangalore| 22|  Male|
|Bachelors|New Delhi| 38|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 23|  Male|
|  Masters|New Delhi| 37|  Male|
|  Masters|Bangalore| 27|  Male|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 32|  Male|
|Bachelors|Bangalore| 39|  Male|
|Bachelors|Bangalore| 37|  Male|
|Bachelors|Bangalore| 29|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 30|Female|
|Bachelors|New Delhi| 22|Female|
+---------+---------+---+------+
only showing top 20 rows

In [16]:
df.select(['Education', 'City', 'Age', 'Gender']).show()

+---------+---------+---+------+
|Education|     City|Age|Gender|
+---------+---------+---+------+
|Bachelors|Bangalore| 34|  Male|
|Bachelors|     Pune| 28|Female|
|Bachelors|New Delhi| 38|Female|
|  Masters|Bangalore| 27|  Male|
|  Masters|     Pune| 24|  Male|
|Bachelors|Bangalore| 22|  Male|
|Bachelors|New Delhi| 38|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 23|  Male|
|  Masters|New Delhi| 37|  Male|
|  Masters|Bangalore| 27|  Male|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 32|  Male|
|Bachelors|Bangalore| 39|  Male|
|Bachelors|Bangalore| 37|  Male|
|Bachelors|Bangalore| 29|  Male|
|Bachelors|Bangalore| 34|Female|
|Bachelors|     Pune| 34|  Male|
|Bachelors|     Pune| 30|Female|
|Bachelors|New Delhi| 22|Female|
+---------+---------+---+------+
only showing top 20 rows

In [17]:
df.select(['Education', 'Age', 'Gender', 'JoiningYear']).show()

+---------+---+------+-----------+
|Education|Age|Gender|JoiningYear|
+---------+---+------+-----------+
|Bachelors| 34|  Male|       2017|
|Bachelors| 28|Female|       2013|
|Bachelors| 38|Female|       2014|
|  Masters| 27|  Male|       2016|
|  Masters| 24|  Male|       2017|
|Bachelors| 22|  Male|       2016|
|Bachelors| 38|  Male|       2015|
|Bachelors| 34|Female|       2016|
|Bachelors| 23|  Male|       2016|
|  Masters| 37|  Male|       2017|
|  Masters| 27|  Male|       2012|
|Bachelors| 34|  Male|       2016|
|Bachelors| 32|  Male|       2018|
|Bachelors| 39|  Male|       2016|
|Bachelors| 37|  Male|       2012|
|Bachelors| 29|  Male|       2017|
|Bachelors| 34|Female|       2014|
|Bachelors| 34|  Male|       2014|
|Bachelors| 30|Female|       2015|
|Bachelors| 22|Female|       2016|
+---------+---+------+-----------+
only showing top 20 rows

#ADDING COLUMNS

## withColumn

In [18]:
from os import truncate
# adding a new column from existing columns
df.withColumn('New_Age', (df['Age'] + 5)).show(truncate=False)

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+
|Education|JoiningYear|City     |PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|New_Age|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+
|Bachelors|2017       |Bangalore|3          |34 |Male  |No         |0                        |0         |39     |
|Bachelors|2013       |Pune     |1          |28 |Female|No         |3                        |1         |33     |
|Bachelors|2014       |New Delhi|3          |38 |Female|No         |2                        |0         |43     |
|Masters  |2016       |Bangalore|3          |27 |Male  |No         |5                        |1         |32     |
|Masters  |2017       |Pune     |3          |24 |Male  |Yes        |2                        |1         |29     |
|Bachelors|2016       |Bangalore|3          |22 |Male  |No         |0                        |0         |27     |
|Bachelors|2015       |New Delhi|3          |38 |Male  |No         |0                        |0         |43     |
|Bachelors|2016       |Bangalore|3          |34 |Female|No         |2                        |1         |39     |
|Bachelors|2016       |Pune     |3          |23 |Male  |No         |1                        |0         |28     |
|Masters  |2017       |New Delhi|2          |37 |Male  |No         |2                        |0         |42     |
|Masters  |2012       |Bangalore|3          |27 |Male  |No         |5                        |1         |32     |
|Bachelors|2016       |Pune     |3          |34 |Male  |No         |3                        |0         |39     |
|Bachelors|2018       |Pune     |3          |32 |Male  |Yes        |5                        |1         |37     |
|Bachelors|2016       |Bangalore|3          |39 |Male  |No         |2                        |0         |44     |
|Bachelors|2012       |Bangalore|3          |37 |Male  |No         |4                        |0         |42     |
|Bachelors|2017       |Bangalore|1          |29 |Male  |No         |3                        |0         |34     |
|Bachelors|2014       |Bangalore|3          |34 |Female|No         |2                        |0         |39     |
|Bachelors|2014       |Pune     |3          |34 |Male  |No         |4                        |0         |39     |
|Bachelors|2015       |Pune     |2          |30 |Female|No         |0                        |1         |35     |
|Bachelors|2016       |New Delhi|2          |22 |Female|No         |0                        |1         |27     |
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+
only showing top 20 rows

In [19]:
df.withColumn('new_age', df['Age']+2).withColumn('newJoiningYear', df['JoiningYear']+2).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+--------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|new_age|newJoiningYear|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+--------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|     36|          2019|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|     30|          2015|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|     40|          2016|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|     29|          2018|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|     26|          2019|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|     24|          2018|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|     40|          2017|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|     36|          2018|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|     25|          2018|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|     39|          2019|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|     29|          2014|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|     36|          2018|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|     34|          2020|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|     41|          2018|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|     39|          2014|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|     31|          2019|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|     36|          2016|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|     36|          2016|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|     32|          2017|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|     24|          2018|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------+--------------+
only showing top 20 rows

In [20]:
from pyspark.sql.functions import lit

In [21]:
# adding a column with constant values
df.withColumn('Bonus', lit('None')).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|Bonus|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0| None|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1| None|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0| None|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1| None|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1| None|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0| None|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0| None|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1| None|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0| None|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0| None|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1| None|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0| None|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1| None|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0| None|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0| None|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0| None|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0| None|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0| None|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1| None|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1| None|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+
only showing top 20 rows

In [22]:
from pyspark.sql import functions as f

In [23]:
df.withColumn('Eduaction_upper', f.upper(df['Education'])).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|Eduaction_upper|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|      BACHELORS|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|      BACHELORS|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|      BACHELORS|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|        MASTERS|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|        MASTERS|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|      BACHELORS|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|      BACHELORS|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|      BACHELORS|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|      BACHELORS|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|        MASTERS|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|        MASTERS|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|      BACHELORS|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|      BACHELORS|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|      BACHELORS|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|      BACHELORS|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|      BACHELORS|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|      BACHELORS|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|      BACHELORS|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|      BACHELORS|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|      BACHELORS|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
only showing top 20 rows

In [24]:
# adding multiple columns using lit

df.withColumn('Bonus', lit('None')).withColumn('Department', lit('IT')).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|Bonus|Department|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0| None|        IT|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1| None|        IT|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0| None|        IT|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1| None|        IT|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1| None|        IT|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0| None|        IT|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0| None|        IT|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1| None|        IT|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0| None|        IT|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0| None|        IT|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1| None|        IT|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0| None|        IT|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1| None|        IT|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0| None|        IT|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0| None|        IT|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0| None|        IT|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0| None|        IT|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0| None|        IT|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1| None|        IT|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1| None|        IT|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----+----------+
only showing top 20 rows

In [25]:
# add column by concatinating from existing columns---> f.concat_ws
df.withColumn('concated_column', f.concat_ws('-', 'Education', 'JoiningYear')).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|concated_column|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0| Bachelors-2017|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1| Bachelors-2013|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0| Bachelors-2014|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|   Masters-2016|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|   Masters-2017|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0| Bachelors-2016|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0| Bachelors-2015|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1| Bachelors-2016|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0| Bachelors-2016|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|   Masters-2017|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|   Masters-2012|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0| Bachelors-2016|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1| Bachelors-2018|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0| Bachelors-2016|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0| Bachelors-2012|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0| Bachelors-2017|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0| Bachelors-2014|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0| Bachelors-2014|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1| Bachelors-2015|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1| Bachelors-2016|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
only showing top 20 rows

In [26]:
# adding a column with condition
# when
from pyspark.sql.functions import when

In [27]:
df.withColumn('Experience_band', \
              when(df['ExperienceInCurrentDomain']<1, lit('Fresher'))\
              .when((df['ExperienceInCurrentDomain']>1) & (df['ExperienceInCurrentDomain']<= 5), lit('Senior'))\
              .when(df['ExperienceInCurrentDomain']>5, lit('Expert'))).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|Experience_band|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|        Fresher|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|         Senior|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|         Senior|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|         Senior|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|         Senior|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|        Fresher|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|        Fresher|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|         Senior|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|           NULL|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|         Senior|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|         Senior|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|         Senior|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|         Senior|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|         Senior|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|         Senior|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|         Senior|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|         Senior|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|         Senior|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|        Fresher|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|        Fresher|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
only showing top 20 rows

In [28]:
df.withColumn('City_specilaity', \
              when(df['City'] == 'Pune', lit('City in Maharashtra'))\
              .when(df['City'] == 'Bangalore', lit('Silicon Valley of India'))\
              .when(df['City'] == 'New Delhi', lit('Capital Of India'))
              ).show(truncate = False)

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----------------------+
|Education|JoiningYear|City     |PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|City_specilaity        |
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----------------------+
|Bachelors|2017       |Bangalore|3          |34 |Male  |No         |0                        |0         |Silicon Valley of India|
|Bachelors|2013       |Pune     |1          |28 |Female|No         |3                        |1         |City in Maharashtra    |
|Bachelors|2014       |New Delhi|3          |38 |Female|No         |2                        |0         |Capital Of India       |
|Masters  |2016       |Bangalore|3          |27 |Male  |No         |5                        |1         |Silicon Valley of India|
|Masters  |2017       |Pune     |3          |24 |Male  |Yes        |2                        |1         |City in Maharashtra    |
|Bachelors|2016       |Bangalore|3          |22 |Male  |No         |0                        |0         |Silicon Valley of India|
|Bachelors|2015       |New Delhi|3          |38 |Male  |No         |0                        |0         |Capital Of India       |
|Bachelors|2016       |Bangalore|3          |34 |Female|No         |2                        |1         |Silicon Valley of India|
|Bachelors|2016       |Pune     |3          |23 |Male  |No         |1                        |0         |City in Maharashtra    |
|Masters  |2017       |New Delhi|2          |37 |Male  |No         |2                        |0         |Capital Of India       |
|Masters  |2012       |Bangalore|3          |27 |Male  |No         |5                        |1         |Silicon Valley of India|
|Bachelors|2016       |Pune     |3          |34 |Male  |No         |3                        |0         |City in Maharashtra    |
|Bachelors|2018       |Pune     |3          |32 |Male  |Yes        |5                        |1         |City in Maharashtra    |
|Bachelors|2016       |Bangalore|3          |39 |Male  |No         |2                        |0         |Silicon Valley of India|
|Bachelors|2012       |Bangalore|3          |37 |Male  |No         |4                        |0         |Silicon Valley of India|
|Bachelors|2017       |Bangalore|1          |29 |Male  |No         |3                        |0         |Silicon Valley of India|
|Bachelors|2014       |Bangalore|3          |34 |Female|No         |2                        |0         |Silicon Valley of India|
|Bachelors|2014       |Pune     |3          |34 |Male  |No         |4                        |0         |City in Maharashtra    |
|Bachelors|2015       |Pune     |2          |30 |Female|No         |0                        |1         |City in Maharashtra    |
|Bachelors|2016       |New Delhi|2          |22 |Female|No         |0                        |1         |Capital Of India       |
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-----------------------+
only showing top 20 rows

In [29]:
# new way to add column in dataframe
if 'emp_id' not in df.columns:
  df.withColumn('emp_id', lit(1)).show()
else:
  pass

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|emp_id|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|     1|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|     1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|     1|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|     1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|     1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|     1|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|     1|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|     1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|     1|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|     1|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|     1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|     1|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|     1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|     1|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|     1|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|     1|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|     1|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|     1|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|     1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|     1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+------+
only showing top 20 rows

In [30]:
df.select('ExperienceInCurrentDomain').distinct().show()

+-------------------------+
|ExperienceInCurrentDomain|
+-------------------------+
|                        1|
|                        6|
|                        3|
|                        5|
|                        4|
|                        7|
|                        2|
|                        0|
+-------------------------+

In [31]:
df.select('Education').distinct().show()

+---------+
|Education|
+---------+
|  Masters|
|Bachelors|
|      PHD|
+---------+

In [32]:
df.select('City').distinct().show()

+---------+
|     City|
+---------+
|Bangalore|
|     Pune|
|New Delhi|
+---------+

#Renaming a existing column

##withCoulmnRenamed

In [33]:
# single column to be renamed
df.withColumnRenamed('ExperienceInCurrentDomain', 'Experience').show()

+---------+-----------+---------+-----------+---+------+-----------+----------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|Experience|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+----------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|         0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|         3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|         2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|         5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|         2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|         0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|         0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|         2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|         1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|         2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|         5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|         3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|         5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|         2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|         4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|         3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|         2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|         4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|         0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|         0|         1|
+---------+-----------+---------+-----------+---+------+-----------+----------+----------+
only showing top 20 rows

In [34]:
df.describe().show()

+-------+---------+------------------+---------+------------------+------------------+------+-----------+-------------------------+------------------+
|summary|Education|       JoiningYear|     City|       PaymentTier|               Age|Gender|EverBenched|ExperienceInCurrentDomain|        LeaveOrNot|
+-------+---------+------------------+---------+------------------+------------------+------+-----------+-------------------------+------------------+
|  count|     4653|              4653|     4653|              4653|              4653|  4653|       4653|                     4653|              4653|
|   mean|     NULL|2015.0629701267999|     NULL|2.6982591876208897|29.393294648613796|  NULL|       NULL|        2.905652267354395|0.3438641736514077|
| stddev|     NULL|1.8633768286863406|     NULL|0.5614354643364917|  4.82608700912605|  NULL|       NULL|       1.5582403309268575|0.4750474751488102|
|    min|Bachelors|              2012|Bangalore|                 1|                22|Female|         No|                        0|                 0|
|    max|      PHD|              2018|     Pune|                 3|                41|  Male|        Yes|                        7|                 1|
+-------+---------+------------------+---------+------------------+------------------+------+-----------+-------------------------+------------------+

In [35]:
from pyspark.sql import functions as F

df.agg(F.max("Education")).show()

+--------------+
|max(Education)|
+--------------+
|           PHD|
+--------------+

In [36]:
# python pandas
emp.agg({
    'Education':['max', 'min'],
    'JoiningYear':['mean', 'min', 'max']
})

      Education  JoiningYear
max         PHD   2018.00000
min   Bachelors   2012.00000
mean        NaN   2015.06297

In [37]:
# converting string to upper case

from pyspark.sql import functions as f

In [38]:
df.withColumn('Eduaction_upper', f.upper(df['Education'])).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|Eduaction_upper|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|      BACHELORS|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|      BACHELORS|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|      BACHELORS|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|        MASTERS|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|        MASTERS|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|      BACHELORS|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|      BACHELORS|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|      BACHELORS|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|      BACHELORS|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|        MASTERS|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|        MASTERS|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|      BACHELORS|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|      BACHELORS|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|      BACHELORS|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|      BACHELORS|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|      BACHELORS|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|      BACHELORS|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|      BACHELORS|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|      BACHELORS|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|      BACHELORS|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+
only showing top 20 rows

# DROPPING A COLUMN

In [39]:
df.drop(df['Education']).show()

+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [40]:
df.drop('Education').show()

+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [41]:
# dropping a more than one column
df.drop('Education', 'JoiningYear').show()

+---------+-----------+---+------+-----------+-------------------------+----------+
|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---+------+-----------+-------------------------+----------+
|Bangalore|          3| 34|  Male|         No|                        0|         0|
|     Pune|          1| 28|Female|         No|                        3|         1|
|New Delhi|          3| 38|Female|         No|                        2|         0|
|Bangalore|          3| 27|  Male|         No|                        5|         1|
|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bangalore|          3| 22|  Male|         No|                        0|         0|
|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bangalore|          3| 34|Female|         No|                        2|         1|
|     Pune|          3| 23|  Male|         No|                        1|         0|
|New Delhi|          2| 37|  Male|         No|                        2|         0|
|Bangalore|          3| 27|  Male|         No|                        5|         1|
|     Pune|          3| 34|  Male|         No|                        3|         0|
|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bangalore|          3| 34|Female|         No|                        2|         0|
|     Pune|          3| 34|  Male|         No|                        4|         0|
|     Pune|          2| 30|Female|         No|                        0|         1|
|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

# DROP NULL VALUES

'''df.na.drop(how=any)-- drops rows which conatins null values

df.na.drop(how=all)-- all the values should be null

df.na.drop(subset = 'name of the column to be dropped')

df.na.drop(thresh = 1/2/3)-- does not drops rows with null at least values mentioned in as number'''

In [42]:
df.select('ExperienceInCurrentDomain').count()

4653

In [43]:
df.na.drop(subset = 'ExperienceInCurrentDomain').count()

4653

In [44]:
df.na.drop(thresh = 7).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [45]:
df.na.drop(thresh = 7).count()

4653

In [46]:
df.na.drop(subset = ['Education', 'JoiningYear', 'City', 'Gender']).count()

4653

##drop_duplicates()
###df.drop_duplicates()

In [47]:
df.drop_duplicates().show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|      PHD|       2012|New Delhi|          3| 27|  Male|         No|                        5|         0|
|      PHD|       2018|Bangalore|          3| 26|  Male|         No|                        4|         1|
|  Masters|       2017|     Pune|          2| 24|Female|         No|                        2|         0|
|Bachelors|       2013|Bangalore|          3| 28|Female|         No|                        4|         1|
|Bachelors|       2018|Bangalore|          3| 26|  Male|        Yes|                        4|         1|
|  Masters|       2015|New Delhi|          3| 29|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 29|  Male|         No|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 28|  Male|        Yes|                        2|         0|
|      PHD|       2018|New Delhi|          2| 30|Female|         No|                        4|         1|
|Bachelors|       2015|     Pune|          3| 28|  Male|         No|                        5|         0|
|Bachelors|       2015|     Pune|          3| 29|  Male|         No|                        0|         0|
|Bachelors|       2017|New Delhi|          2| 39|  Male|         No|                        2|         0|
|Bachelors|       2018|     Pune|          3| 40|  Male|         No|                        0|         1|
|Bachelors|       2017|Bangalore|          3| 39|Female|         No|                        3|         0|
|Bachelors|       2015|Bangalore|          3| 31|  Male|         No|                        4|         0|
|Bachelors|       2017|New Delhi|          2| 33|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2014|     Pune|          2| 27|Female|         No|                        5|         0|
|Bachelors|       2018|     Pune|          3| 26|  Male|        Yes|                        4|         1|
|  Masters|       2017|New Delhi|          1| 26|Female|         No|                        4|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [48]:
df.drop_duplicates(subset=['Education', 'JoiningYear']).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2013|New Delhi|          3| 35|  Male|         No|                        2|         0|
|  Masters|       2014|     Pune|          3| 39|Female|         No|                        2|         0|
|  Masters|       2015|     Pune|          2| 32|Female|         No|                        4|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|  Masters|       2018|New Delhi|          3| 26|  Male|         No|                        4|         1|
|      PHD|       2012|New Delhi|          3| 27|  Male|         No|                        5|         0|
|      PHD|       2013|New Delhi|          3| 25|  Male|         No|                        3|         0|
|      PHD|       2014|Bangalore|          3| 24|Female|         No|                        2|         0|
|      PHD|       2015|New Delhi|          1| 37|  Male|         No|                        1|         0|
|      PHD|       2016|New Delhi|          2| 28|  Male|         No|                        3|         1|
|      PHD|       2017|New Delhi|          3| 34|  Male|         No|                        2|         0|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

# FILLING NULL VALUES

In [49]:
df.na.fill(value='not available', subset='Education').show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [50]:
df.na.fill(value = {
    'Education':'not available',
    'JoiningYear':'None',
    'City':'Chennai'
}).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [74]:
from pyspark.ml.feature import Imputer

In [61]:
#measures of centraly are --> mean, mode, median

In [59]:
Imputer = Imputer(inputCols = ['PaymentTier', 'Age', 'ExperienceInCurrentDomain'], outputCols = ['New_PaymentTier', 'New_Age', 'New_ExperienceInCurrentDomain']).setStrategy('mean')

In [60]:
Imputer.fit(df).transform(df).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+-------+-----------------------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|New_PaymentTier|New_Age|New_ExperienceInCurrentDomain|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+-------+-----------------------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|              3|     34|                            0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|              1|     28|                            3|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|              3|     38|                            2|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|              3|     27|                            5|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|              3|     24|                            2|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|              3|     22|                            0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|              3|     38|                            0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|              3|     34|                            2|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|              3|     23|                            1|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|              2|     37|                            2|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|              3|     27|                            5|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|              3|     34|                            3|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|              3|     32|                            5|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|              3|     39|                            2|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|              3|     37|                            4|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|              1|     29|                            3|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|              3|     34|                            2|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|              3|     34|                            4|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|              2|     30|                            0|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|              2|     22|                            0|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+---------------+-------+-----------------------------+
only showing top 20 rows

In [68]:
output_columns = ['PaymentTier', 'Age', 'ExperienceInCurrentDomain']

In [75]:
# method-2 impute null values
output_columns = ['PaymentTier', 'Age', 'ExperienceInCurrentDomain']

imputer = Imputer(inputCols = output_columns, outputCols = ["{}_imputed".format(column) for column in output_columns]).setStrategy('mean')

In [76]:
imputer.fit(df).transform(df).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------------------+-----------+---------------------------------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|PaymentTier_imputed|Age_imputed|ExperienceInCurrentDomain_imputed|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------------------+-----------+---------------------------------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|                  3|         34|                                0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|                  1|         28|                                3|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|                  3|         38|                                2|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|                  3|         27|                                5|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|                  3|         24|                                2|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|                  3|         22|                                0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|                  3|         38|                                0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|                  3|         34|                                2|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|                  3|         23|                                1|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|                  2|         37|                                2|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|                  3|         27|                                5|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|                  3|         34|                                3|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|                  3|         32|                                5|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|                  3|         39|                                2|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|                  3|         37|                                4|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|                  1|         29|                                3|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|                  3|         34|                                2|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|                  3|         34|                                4|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|                  2|         30|                                0|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|                  2|         22|                                0|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+-------------------+-----------+---------------------------------+
only showing top 20 rows

# FILTER

In [78]:
df.filter('Education is null').show()

+---------+-----------+----+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+----+-----------+---+------+-----------+-------------------------+----------+
+---------+-----------+----+-----------+---+------+-----------+-------------------------+----------+

In [79]:
df.filter(df['Education'] == 'Masters').show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|New Delhi|          2| 28|  Male|         No|                        4|         0|
|  Masters|       2017|New Delhi|          2| 30|Female|         No|                        2|         0|
|  Masters|       2017|New Delhi|          2| 23|  Male|         No|                        1|         0|
|  Masters|       2013|New Delhi|          3| 35|  Male|         No|                        2|         0|
|  Masters|       2017|New Delhi|          2| 34|  Male|         No|                        0|         0|
|  Masters|       2014|     Pune|          3| 39|Female|         No|                        2|         0|
|  Masters|       2017|     Pune|          2| 36|  Male|         No|                        2|         1|
|  Masters|       2013|New Delhi|          3| 29|  Male|         No|                        3|         0|
|  Masters|       2017|Bangalore|          3| 40|Female|         No|                        2|         1|
|  Masters|       2017|Bangalore|          3| 31|  Male|         No|                        4|         0|
|  Masters|       2017|New Delhi|          2| 25|Female|         No|                        3|         1|
|  Masters|       2015|     Pune|          2| 32|Female|         No|                        4|         0|
|  Masters|       2012|New Delhi|          3| 32|  Male|         No|                        2|         0|
|  Masters|       2013|New Delhi|          3| 36|  Male|         No|                        2|         0|
|  Masters|       2012|     Pune|          3| 25|  Male|         No|                        3|         1|
|  Masters|       2017|New Delhi|          3| 26|Female|         No|                        4|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [84]:
df.filter((df['ExperienceInCurrentDomain']<=5) & (df['ExperienceInCurrentDomain']>=2)).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|  Masters|       2017|New Delhi|          2| 28|  Male|         No|                        4|         0|
|Bachelors|       2017|New Delhi|          2| 36|  Male|         No|                        3|         0|
|Bachelors|       2015|Bangalore|          3| 27|  Male|        Yes|                        5|         0|
|Bachelors|       2017|Bangalore|          3| 29|  Male|         No|                        4|         0|
|Bachelors|       2016|Bangalore|          3| 37|  Male|         No|                        2|         0|
|Bachelors|       2013|     Pune|          2| 31|Female|         No|                        2|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [85]:
df.filter('ExperienceInCurrentDomain is null').show()

+---------+-----------+----+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+----+-----------+---+------+-----------+-------------------------+----------+
+---------+-----------+----+-----------+---+------+-----------+-------------------------+----------+

In [86]:
df.filter((df['Age']<29) | (df['Age']>20)).show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [88]:
df.filter('Age is not null').show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [89]:
df.filter(df['Age'].isNull()).count()

0

In [90]:
df.filter(df['Age'].isNotNull()).count()

4653

In [91]:
df.filter(df['Age'] == 25).count()

418

In [92]:
df.filter(df['Age'] != 25).count()

4235

In [93]:
df.filter('City is not null and Age is null').count()

0

In [94]:
df.filter('City is null or Age is not null').count()

4653

In [95]:
df.filter(df['Age'].isNull() & df['City'].isNotNull()).count()

0

In [96]:
df.filter(df.Age.isNull()).count()

0

In [97]:
df.filter(df.Age.isNotNull()).count()

4653

In [98]:
from pyspark.sql.functions import col

In [99]:
df.filter(col('Age')==25).count()

418

In [100]:
list1 = ['amit', 25, 'rohit', 28]

In [101]:
df.filter(df['Age'].isin(list1)).count()

1048