<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/Pyspark_training_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=f001a09657c1216d528cbccf885c346244441f268ff1de9694f27fa362fa158a
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# creating spark application
spark = SparkSession.builder.appName("day_4").getOrCreate()

In [ ]:
# reading csv file
df = spark.read.csv("/content/array.csv", header=True, inferSchema=True)

In [ ]:
df.show(truncate=False)

+-----+-------------------------------+
|name |data                           |
+-----+-------------------------------+
|Tom  |10|40|20|10|30                 |
|Jenny|100|800|200|100|300|200|500|300|
+-----+-------------------------------+

In [ ]:
from pyspark.sql import functions as f

In [ ]:
# converting data columns data into list
df.withColumn("data_array", f.split("data", r"\|")).show(truncate=False)

+-----+-------------------------------+----------------------------------------+
|name |data                           |data_array                              |
+-----+-------------------------------+----------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|
+-----+-------------------------------+----------------------------------------+

In [ ]:
# sort the array
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_sort", f.array_sort("data_array")).\
show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------------------------------------+
|name |data                           |data_array                              |array_sort                              |
+-----+-------------------------------+----------------------------------------+----------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |[10, 10, 20, 30, 40]                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|[100, 100, 200, 200, 300, 300, 500, 800]|
+-----+-------------------------------+----------------------------------------+----------------------------------------+

In [ ]:
# reversing the array
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_sort", f.array_sort("data_array")).\
withColumn("array_reverse", f.reverse("array_sort")).\
show(truncate=False)

+-----+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+
|name |data                           |data_array                              |array_sort                              |array_reverse                           |
+-----+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |[10, 10, 20, 30, 40]                    |[40, 30, 20, 10, 10]                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|[100, 100, 200, 200, 300, 300, 500, 800]|[800, 500, 300, 300, 200, 200, 100, 100]|
+-----+-------------------------------+----------------------------------------+----------------------------------------+----------------------------------------+

In [ ]:
# dropduplicates / drop_duplicates
# distinct--> applied on column to get unidque values
# array_distinct--> used for getting unique records from array

In [ ]:
# array_join---> used for the joining the element of an array

df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("array_join", f.array_join("data_array", "--")).\
show(truncate=False)

+-----+-------------------------------+----------------------------------------+--------------------------------------+
|name |data                           |data_array                              |array_join                            |
+-----+-------------------------------+----------------------------------------+--------------------------------------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |10--40--20--10--30                    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|100--800--200--100--300--200--500--300|
+-----+-------------------------------+----------------------------------------+--------------------------------------+

In [ ]:
df.withColumn("data_array", f.split("data", r"\|")).\
withColumn("explode", f.explode("data_array")).\
show(truncate=False)

+-----+-------------------------------+----------------------------------------+-------+
|name |data                           |data_array                              |explode|
+-----+-------------------------------+----------------------------------------+-------+
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |10     |
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |40     |
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |20     |
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |10     |
|Tom  |10|40|20|10|30                 |[10, 40, 20, 10, 30]                    |30     |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|100    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|800    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|200    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|100    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|300    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|200    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|500    |
|Jenny|100|800|200|100|300|200|500|300|[100, 800, 200, 100, 300, 200, 500, 300]|300    |
+-----+-------------------------------+----------------------------------------+-------+