<a href="https://colab.research.google.com/github/birusolankar/Pyspark-Bigdata/blob/main/Pyspark_11_11_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType,IntegerType

In [5]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [18]:
data = [
    ('Biru', 100, 'Pune'),
    ('Merah', 200, 'Mumbai'),
    ('Hijau', 300, 'Delhi'),
    ('Kuning', 400, 'Pune'),
    ('Ungu', 500, 'Chennai'),
    ('Oranye', 600, 'Bangalore'),
    ('Putih', 700, 'Hyderabad'),
    ('Hitam', 800, 'Mumbai'),
    ('Abu-abu', 900, 'Hyderabad'),
    ('Coklat', 1000, 'Pune')
    ]
columns = ['Name', 'Id', 'City']

In [19]:
df1 = spark.createDataFrame(data = data, schema = columns)

In [20]:
df1.show()

+-------+----+---------+
|   Name|  Id|     City|
+-------+----+---------+
|   Biru| 100|     Pune|
|  Merah| 200|   Mumbai|
|  Hijau| 300|    Delhi|
| Kuning| 400|     Pune|
|   Ungu| 500|  Chennai|
| Oranye| 600|Bangalore|
|  Putih| 700|Hyderabad|
|  Hitam| 800|   Mumbai|
|Abu-abu| 900|Hyderabad|
| Coklat|1000|     Pune|
+-------+----+---------+

In [21]:
data = [
    (1, 10000, 100),
    (2, 20000, 200),
    (3, 30000, 300),
    (4, 40000, 400),
    (5, 50000, 500),
    (6, 60000, 600),
    (7, 70000, 700)
]

columns = ['Department_Id', 'Salary', 'Id']

df2 = spark.createDataFrame(data, columns)

In [22]:
df2.show()

+-------------+------+---+
|Department_Id|Salary| Id|
+-------------+------+---+
|            1| 10000|100|
|            2| 20000|200|
|            3| 30000|300|
|            4| 40000|400|
|            5| 50000|500|
|            6| 60000|600|
|            7| 70000|700|
+-------------+------+---+

In [53]:
from pyspark.sql.functions import col, lit
from pyspark.sql.window import Window
from pyspark.sql import functions as f
from pyspark.sql.functions import *

In [50]:
# union and unionall
pune = df1.filter(col('City') == 'Pune')
mumbai = df1.filter(col('City') == 'Mumbai')

pune.unionAll(mumbai).show()
pune.union(mumbai).show()

+------+----+------+
|  Name|  Id|  City|
+------+----+------+
|  Biru| 100|  Pune|
|Kuning| 400|  Pune|
|Coklat|1000|  Pune|
| Merah| 200|Mumbai|
| Hitam| 800|Mumbai|
+------+----+------+

+------+----+------+
|  Name|  Id|  City|
+------+----+------+
|  Biru| 100|  Pune|
|Kuning| 400|  Pune|
|Coklat|1000|  Pune|
| Merah| 200|Mumbai|
| Hitam| 800|Mumbai|
+------+----+------+

In [42]:
# join
df1.join(df2, how = 'inner', on = 'Id') \
            .withColumn('dense_rank', f.dense_rank().over(Window.partitionBy('City') \
            .orderBy(col('Salary').desc()))) \
            .filter(col('dense_rank')==1) \
            .orderBy(col('Department_Id').asc()).show()
            #.filter(col('city') == 'Pune').show()

+---+------+---------+-------------+------+----------+
| Id|  Name|     City|Department_Id|Salary|dense_rank|
+---+------+---------+-------------+------+----------+
|200| Merah|   Mumbai|            2| 20000|         1|
|300| Hijau|    Delhi|            3| 30000|         1|
|400|Kuning|     Pune|            4| 40000|         1|
|500|  Ungu|  Chennai|            5| 50000|         1|
|600|Oranye|Bangalore|            6| 60000|         1|
|700| Putih|Hyderabad|            7| 70000|         1|
+---+------+---------+-------------+------+----------+

In [30]:
df1.join(df2, how = 'left', on = 'Id').filter(col('City') == 'Pune').show()

+----+------+----+-------------+------+
|  Id|  Name|City|Department_Id|Salary|
+----+------+----+-------------+------+
| 100|  Biru|Pune|            1| 10000|
| 400|Kuning|Pune|            4| 40000|
|1000|Coklat|Pune|         NULL|  NULL|
+----+------+----+-------------+------+

In [56]:
# like
df1.select(col('city').like('%ra%')).show()

+--------------+
|city LIKE %ra%|
+--------------+
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|          true|
|         false|
|          true|
|         false|
+--------------+

In [57]:
string = 'principal component analysis'

In [61]:
string.split()

['principal', 'component', 'analysis']